n8n-workflows/workflows/balance-check.json
{
  "name": "WhatsApp Balance Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-balance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "whatsapp-balance-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Verify Meta webhook signature\nconst crypto = require('crypto');\n\nconst signature = $('WhatsApp Webhook').item.headers['x-hub-signature-256'];\nconst payload = JSON.stringify($input.item.json);\nconst secret = $credentials.whatsappSecret;\n\nif (!signature || !secret) {\n  throw new Error('Missing signature or secret');\n}\n\nconst hash = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\nif (signature !== hash) {\n  throw new Error('Invalid webhook signature');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry[0].changes[0].value.messages[0].text.body.toLowerCase()}}",
              "operation": "equals",
              "value2": "durum"
            }
          ]
        }
      },
      "id": "filter-durum",
      "name": "Filter 'durum'",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parse and normalize phone number\nconst message = $json.entry[0].changes[0].value.messages[0];\nconst phone = message.from;\n\n// Normalize phone to E.164 format\nlet normalized = phone.replace(/\\D/g, '');\n\nif (!normalized.startsWith('+')) {\n  if (normalized.startsWith('0')) {\n    normalized = '+90' + normalized.substring(1);\n  } else if (normalized.length === 10) {\n    normalized = '+90' + normalized;\n  } else {\n    normalized = '+' + normalized;\n  }\n}\n\nreturn {\n  phone: normalized\n};"
      },
      "id": "parse-phone",
      "name": "Parse Phone",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/integrations/coupons/wallet/={{$json.phone}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "get-wallet-api",
      "name": "Get Wallet API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api-key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$statusCode}}",
              "value2": 200
            }
          ]
        }
      },
      "id": "wallet-exists",
      "name": "Wallet Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format balance message for existing wallet\nconst balance = $json.couponCount || 0;\nconst remainingToFree = 4 - balance;\nconst phone = $json.phone;\n\nlet message;\nif (balance >= 4) {\n  message = `📊 Kupon durumunuz: ${balance}/4 kupon toplandı. 'kupon kullan' yazarak ücretsiz masajınızı alabilirsiniz!`;\n} else if (balance > 0) {\n  message = `📊 Kupon durumunuz: ${balance}/4 kupon toplandı. ${remainingToFree} kupon daha toplamanız gerekiyor.`;\n} else {\n  message = `📊 Henüz kuponunuz yok. Her masaj sonrası verilen QR kodu okutarak kupon toplayabilirsiniz. 4 kupon topladığınızda ücretsiz masaj kazanırsınız!`;\n}\n\nreturn {\n  phone: phone,\n  message: message\n};"
      },
      "id": "format-balance",
      "name": "Format Balance Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format message for non-existent wallet\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '📊 Henüz kuponunuz yok. Her masaj sonrası verilen QR kodu okutarak kupon toplayabilirsiniz. 4 kupon topladığınızda ücretsiz masaj kazanırsınız!'\n};"
      },
      "id": "format-no-wallet",
      "name": "Format No Wallet Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{$credentials.whatsappPhoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{JSON.stringify({body: $json.message})}}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: 'ok'})}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Filter 'durum'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 'durum'": {
      "main": [
        [
          {
            "node": "Parse Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phone": {
      "main": [
        [
          {
            "node": "Get Wallet API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wallet API": {
      "main": [
        [
          {
            "node": "Wallet Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wallet Exists?": {
      "main": [
        [
          {
            "node": "Format Balance Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format No Wallet Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Balance Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No Wallet Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "active": false,
  "versionId": "859f627f-b83a-4318-a6f3-ac643f18a6b1",
  "pinData": {}
}