n8n-workflows/workflows/claim-redemption.json
{
  "name": "WhatsApp Claim Redemption",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-claim",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "whatsapp-claim-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Verify Meta webhook signature\nconst crypto = require('crypto');\n\nconst signature = $('WhatsApp Webhook').item.headers['x-hub-signature-256'];\nconst payload = JSON.stringify($input.item.json);\nconst secret = $credentials.whatsappSecret;\n\nif (!signature || !secret) {\n  throw new Error('Missing signature or secret');\n}\n\nconst hash = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\nif (signature !== hash) {\n  throw new Error('Invalid webhook signature');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry[0].changes[0].value.messages[0].text.body.toLowerCase()}}",
              "operation": "equals",
              "value2": "kupon kullan"
            }
          ]
        }
      },
      "id": "filter-claim",
      "name": "Filter 'kupon kullan'",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Parse and normalize phone number\nconst message = $json.entry[0].changes[0].value.messages[0];\nconst phone = message.from;\n\n// Normalize phone to E.164 format\nlet normalized = phone.replace(/\\D/g, '');\n\nif (!normalized.startsWith('+')) {\n  if (normalized.startsWith('0')) {\n    normalized = '+90' + normalized.substring(1);\n  } else if (normalized.length === 10) {\n    normalized = '+90' + normalized;\n  } else {\n    normalized = '+' + normalized;\n  }\n}\n\nreturn {\n  phone: normalized\n};"
      },
      "id": "parse-phone",
      "name": "Parse Phone",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Check deduplication cache (5min TTL)\nconst phone = $json.phone;\nconst cacheKey = `claim:${phone}`;\n\n// Use workflow static data for in-memory cache\nconst cache = $workflow.staticData.cache || {};\nconst now = Date.now();\nconst ttl = 300000; // 5 minutes\n\n// Clean expired entries\nObject.keys(cache).forEach(key => {\n  if (cache[key].expires < now) {\n    delete cache[key];\n  }\n});\n\n// Check if duplicate\nif (cache[cacheKey] && cache[cacheKey].expires > now) {\n  return {\n    isDuplicate: true,\n    cachedRedemptionId: cache[cacheKey].redemptionId,\n    phone: phone\n  };\n}\n\n// Not a duplicate, will cache after API call\n$workflow.staticData.cache = cache;\n\nreturn {\n  isDuplicate: false,\n  phone: phone,\n  cacheKey: cacheKey\n};"
      },
      "id": "check-dedup",
      "name": "Check Deduplication",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.isDuplicate}}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/integrations/coupons/claim",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$json.phone}}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "claim-api",
      "name": "Claim Redemption API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1450,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api-key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Update deduplication cache with result\nconst cacheKey = $json.cacheKey;\nconst redemptionId = $json.redemptionId;\n\nif (redemptionId) {\n  const cache = $workflow.staticData.cache || {};\n  const now = Date.now();\n  const ttl = 300000; // 5 minutes\n\n  cache[cacheKey] = {\n    redemptionId: redemptionId,\n    expires: now + ttl\n  };\n\n  $workflow.staticData.cache = cache;\n}\n\nreturn $input.all();"
      },
      "id": "update-cache",
      "name": "Update Cache",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "claim-success",
      "name": "Claim Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1850,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format success message for customer\nconst redemptionId = $json.redemptionId;\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  redemptionId: redemptionId,\n  message: `🎉 Tebrikler! 4 kuponunuz kullanıldı. Redemption ID: ${redemptionId}. Resepsiyona bu kodu göstererek ücretsiz masajınızı alabilirsiniz.`\n};"
      },
      "id": "format-success-customer",
      "name": "Format Success (Customer)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2050,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format insufficient coupons message\nconst balance = $json.balance || 0;\nconst needed = $json.needed || (4 - balance);\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: `📊 Henüz yeterli kuponunuz yok. Mevcut: ${balance}/4 kupon. ${needed} kupon daha toplamanız gerekiyor.`\n};"
      },
      "id": "format-insufficient",
      "name": "Format Insufficient",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{$credentials.whatsappPhoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{JSON.stringify({body: $json.message})}}"
            }
          ]
        }
      },
      "id": "send-customer-reply",
      "name": "Send Customer Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2250,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format staff notification message\nconst redemptionId = $json.redemptionId;\nconst phone = $json.phone;\n\n// Mask phone number (show last 4 digits)\nconst maskedPhone = phone.replace(/.(?=.{4})/g, '*');\n\n// Format timestamp\nconst timestamp = new Date().toLocaleString('tr-TR', {\n  timeZone: 'Europe/Istanbul',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn {\n  staffGroupId: process.env.WHATSAPP_STAFF_GROUP_ID || $credentials.whatsappStaffGroupId,\n  message: `🔔 Yeni kupon kullanımı!\\n\\nMüşteri: ${maskedPhone}\\nRedemption ID: ${redemptionId}\\nTarih: ${timestamp}\\n\\nLütfen müşteriyi yönlendirin.`\n};"
      },
      "id": "format-staff-notification",
      "name": "Format Staff Notification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2050,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{$credentials.whatsappPhoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.staffGroupId}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{JSON.stringify({body: $json.message})}}"
            }
          ]
        }
      },
      "id": "send-staff-notification",
      "name": "Send Staff Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2250,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: 'ok'})}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2450,
        200
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Filter 'kupon kullan'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 'kupon kullan'": {
      "main": [
        [
          {
            "node": "Parse Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phone": {
      "main": [
        [
          {
            "node": "Check Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deduplication": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Format Success (Customer)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim Redemption API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Redemption API": {
      "main": [
        [
          {
            "node": "Update Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cache": {
      "main": [
        [
          {
            "node": "Claim Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Success?": {
      "main": [
        [
          {
            "node": "Format Success (Customer)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Staff Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Insufficient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success (Customer)": {
      "main": [
        [
          {
            "node": "Send Customer Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insufficient": {
      "main": [
        [
          {
            "node": "Send Customer Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Staff Notification": {
      "main": [
        [
          {
            "node": "Send Staff Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Staff Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {
    "cache": {}
  },
  "active": false,
  "versionId": "ffb951ce-9d45-4f75-a04f-356743582f11",
  "pinData": {}
}