n8n-workflows/workflows/coupon-capture.json
{
  "name": "WhatsApp Coupon Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-coupon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-coupon-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Verify Meta webhook signature\nconst crypto = require('crypto');\n\nconst signature = $('WhatsApp Webhook').item.headers['x-hub-signature-256'];\nconst payload = JSON.stringify($input.item.json);\nconst secret = $credentials.whatsappSecret;\n\nif (!signature || !secret) {\n  throw new Error('Missing signature or secret');\n}\n\nconst hash = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\nif (signature !== hash) {\n  throw new Error('Invalid webhook signature');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry[0].changes[0].value.messages[0].text.body}}",
              "operation": "startsWith",
              "value2": "KUPON"
            }
          ]
        }
      },
      "id": "filter-kupon",
      "name": "Filter KUPON Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse phone number and token from WhatsApp message\nconst message = $json.entry[0].changes[0].value.messages[0];\nconst phone = message.from;\nconst messageText = message.text.body;\n\n// Extract token from message (format: \"KUPON ABC123DEF456\")\nconst tokenMatch = messageText.match(/KUPON\\s+([A-Z0-9]{12})/i);\n\nif (!tokenMatch) {\n  return {\n    error: true,\n    errorType: 'INVALID_FORMAT',\n    phone: phone,\n    message: messageText\n  };\n}\n\nconst token = tokenMatch[1].toUpperCase();\n\n// Normalize phone to E.164 format\nlet normalized = phone.replace(/\\D/g, '');\n\nif (!normalized.startsWith('+')) {\n  if (normalized.startsWith('0')) {\n    normalized = '+90' + normalized.substring(1);\n  } else if (normalized.length === 10) {\n    normalized = '+90' + normalized;\n  } else {\n    normalized = '+' + normalized;\n  }\n}\n\nreturn {\n  phone: normalized,\n  token: token,\n  originalMessage: messageText\n};"
      },
      "id": "parse-phone-token",
      "name": "Parse Phone & Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Check deduplication cache (60s TTL)\nconst phone = $json.phone;\nconst token = $json.token;\nconst cacheKey = `${phone}:${token}`;\n\n// Use workflow static data for in-memory cache\nconst cache = $workflow.staticData.cache || {};\nconst now = Date.now();\nconst ttl = 60000; // 60 seconds\n\n// Clean expired entries\nObject.keys(cache).forEach(key => {\n  if (cache[key].expires < now) {\n    delete cache[key];\n  }\n});\n\n// Check if duplicate\nif (cache[cacheKey] && cache[cacheKey].expires > now) {\n  return {\n    isDuplicate: true,\n    cachedBalance: cache[cacheKey].balance,\n    phone: phone,\n    token: token\n  };\n}\n\n// Not a duplicate, will cache after API call\n$workflow.staticData.cache = cache;\n\nreturn {\n  isDuplicate: false,\n  phone: phone,\n  token: token,\n  cacheKey: cacheKey\n};"
      },
      "id": "check-dedup",
      "name": "Check Deduplication",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.isDuplicate}}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/integrations/coupons/consume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$json.phone}}"
            },
            {
              "name": "token",
              "value": "={{$json.token}}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "consume-token-api",
      "name": "Consume Token API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api-key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Update deduplication cache with result\nconst cacheKey = $json.cacheKey;\nconst balance = $json.balance;\n\nconst cache = $workflow.staticData.cache || {};\nconst now = Date.now();\nconst ttl = 60000;\n\ncache[cacheKey] = {\n  balance: balance,\n  expires: now + ttl\n};\n\n$workflow.staticData.cache = cache;\n\nreturn $input.all();"
      },
      "id": "update-cache",
      "name": "Update Cache",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{$statusCode}}",
                    "value2": 200
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.error?.code}}",
                    "value2": "INVALID_TOKEN"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "invalid_token"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.error?.code}}",
                    "value2": "EXPIRED_TOKEN"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "expired_token"
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{$statusCode}}",
                    "value2": 429
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "rate_limit"
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{$statusCode}}",
                    "operation": "largerEqual",
                    "value2": 500
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "server_error"
            }
          ]
        },
        "options": {}
      },
      "id": "response-switch",
      "name": "Response Handler",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "functionCode": "// Format success message in Turkish\nconst balance = $json.balance;\nconst remainingToFree = $json.remainingToFree || (4 - balance);\nconst phone = $json.phone;\n\nlet message;\nif (remainingToFree === 0) {\n  message = `✅ Kuponunuz eklendi! Toplam: ${balance}/4 kupon. 'kupon kullan' yazarak ücretsiz masajınızı alabilirsiniz.`;\n} else {\n  message = `✅ Kuponunuz eklendi! Toplam: ${balance}/4 kupon. ${remainingToFree} kupon daha toplamanız gerekiyor.`;\n}\n\nreturn {\n  phone: phone,\n  message: message\n};"
      },
      "id": "format-success",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 0]
    },
    {
      "parameters": {
        "functionCode": "// Format invalid token message\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '❌ Bu kupon geçersiz veya kullanılmış. Lütfen resepsiyonla iletişime geçin.'\n};"
      },
      "id": "format-invalid",
      "name": "Format Invalid Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "functionCode": "// Format expired token message\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '❌ Bu kuponun süresi dolmuş. Lütfen resepsiyonla iletişime geçin.'\n};"
      },
      "id": "format-expired",
      "name": "Format Expired Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Format rate limit message\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '⏳ Çok fazla istek gönderdiniz. Lütfen daha sonra tekrar deneyin.'\n};"
      },
      "id": "format-rate-limit",
      "name": "Format Rate Limit Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Format generic error message\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '❌ Şu anda işlemi tamamlayamadık. Lütfen biraz sonra tekrar deneyin veya resepsiyonla konuşun.'\n};"
      },
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{$credentials.whatsappPhoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{JSON.stringify({body: $json.message})}}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: 'ok'})}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 200]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Filter KUPON Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter KUPON Messages": {
      "main": [
        [
          {
            "node": "Parse Phone & Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phone & Token": {
      "main": [
        [
          {
            "node": "Check Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deduplication": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [],
        [
          {
            "node": "Consume Token API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume Token API": {
      "main": [
        [
          {
            "node": "Update Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cache": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Handler": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Invalid Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Expired Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Rate Limit Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Invalid Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Expired Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Rate Limit Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {
    "cache": {}
  }
}
