n8n-workflows/workflows/opt-out.json
{
  "name": "WhatsApp Opt-Out",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-optout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-optout-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Verify Meta webhook signature\nconst crypto = require('crypto');\n\nconst signature = $('WhatsApp Webhook').item.headers['x-hub-signature-256'];\nconst payload = JSON.stringify($input.item.json);\nconst secret = $credentials.whatsappSecret;\n\nif (!signature || !secret) {\n  throw new Error('Missing signature or secret');\n}\n\nconst hash = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(payload)\n  .digest('hex');\n\nif (signature !== hash) {\n  throw new Error('Invalid webhook signature');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.entry[0].changes[0].value.messages[0].text.body.toLowerCase()}}",
              "operation": "equals",
              "value2": "iptal"
            }
          ]
        }
      },
      "id": "filter-iptal",
      "name": "Filter 'iptal'",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse and normalize phone number\nconst message = $json.entry[0].changes[0].value.messages[0];\nconst phone = message.from;\n\n// Normalize phone to E.164 format\nlet normalized = phone.replace(/\\D/g, '');\n\nif (!normalized.startsWith('+')) {\n  if (normalized.startsWith('0')) {\n    normalized = '+90' + normalized.substring(1);\n  } else if (normalized.length === 10) {\n    normalized = '+90' + normalized;\n  } else {\n    normalized = '+' + normalized;\n  }\n}\n\nreturn {\n  phone: normalized\n};"
      },
      "id": "parse-phone",
      "name": "Parse Phone",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/integrations/coupons/opt-out",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$json.phone}}"
            }
          ]
        },
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "opt-out-api",
      "name": "Opt-Out API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api-key",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Format opt-out confirmation message\nconst phone = $json.phone;\n\nreturn {\n  phone: phone,\n  message: '✅ Pazarlama bildirimleri kapatıldı. Kupon kazanımı ve kullanımı normal şekilde devam edecek. Tekrar bildirimleri açmak isterseniz lütfen resepsiyonla iletişime geçin.'\n};"
      },
      "id": "format-confirmation",
      "name": "Format Confirmation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/={{$credentials.whatsappPhoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{JSON.stringify({body: $json.message})}}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({status: 'ok'})}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Filter 'iptal'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 'iptal'": {
      "main": [
        [
          {
            "node": "Parse Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phone": {
      "main": [
        [
          {
            "node": "Opt-Out API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-Out API": {
      "main": [
        [
          {
            "node": "Format Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {}
}
