n8n-workflows/workflows-v2/instagram-ai-agent-v2.json
{
  "name": "Instagram SPA AI Agent v2",
  "versionId": "instagram-ai-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "instagram-spa-agent"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Webhook verification (GET request from Meta)\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\nconst body = input.body || input;\n\n// Check if it's Instagram webhook\nif (body.object !== 'instagram') {\n  return [{ json: { route: 'ignore', reason: 'not_instagram' } }];\n}\n\nconst entry = body.entry?.[0];\nif (!entry) {\n  return [{ json: { route: 'ignore', reason: 'no_entry' } }];\n}\n\nconst myAccountId = entry.id; // Our Instagram account ID\n\n// Check for COMMENTS (changes array)\nconst changes = entry.changes?.[0];\nif (changes && changes.field === 'comments') {\n  const commentData = changes.value;\n  // Ignore our own comments\n  if (commentData.from?.id === myAccountId) {\n    return [{ json: { route: 'ignore', reason: 'own_comment' } }];\n  }\n  return [{\n    json: {\n      route: 'comment',\n      commentId: commentData.id,\n      commentText: commentData.text,\n      fromId: commentData.from?.id,\n      fromUsername: commentData.from?.username,\n      mediaId: commentData.media?.id,\n      myAccountId: myAccountId\n    }\n  }];\n}\n\n// Check for MESSAGES (messaging array)\nconst messaging = entry.messaging?.[0];\nif (messaging) {\n  const message = messaging.message;\n  if (!message || !message.text) {\n    return [{ json: { route: 'ignore', reason: 'no_text_message' } }];\n  }\n  \n  // Ignore echo messages (our own messages)\n  if (message.is_echo === true) {\n    return [{ json: { route: 'ignore', reason: 'echo_message' } }];\n  }\n  \n  // Double-check: ignore if sender is us\n  const senderId = messaging.sender?.id;\n  if (senderId === myAccountId) {\n    return [{ json: { route: 'ignore', reason: 'own_message' } }];\n  }\n  \n  return [{\n    json: {\n      route: 'message',\n      senderId: senderId,\n      text: message.text.trim(),\n      messageId: message.mid,\n      timestamp: messaging.timestamp,\n      myAccountId: myAccountId\n    }\n  }];\n}\n\nreturn [{ json: { route: 'ignore', reason: 'unknown_event' } }];"
      },
      "id": "parse",
      "name": "Parse Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Verify"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "m", "leftValue": "={{ $json.route }}", "rightValue": "message", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "c", "leftValue": "={{ $json.route }}", "rightValue": "comment", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comment"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignore"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [600, 400]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" },
      "id": "resp-verify",
      "name": "Verify Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 100]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-ignore",
      "name": "Ignore Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 700]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Kullanici: ' + $json.senderId + '\\nMesaj: ' + $json.text }}",
        "options": {
          "systemMessage": "Sen Eform SPA merkezinin Instagram asistanisin. Turkce yanit ver, samimi ve yardimci ol.\n\n## SPA BILGILERI\n- Adres: Eform Spor Merkezi\n- Instagram: @eformspormerkezi\n- Calisma Saatleri: Pazartesi-Cumartesi 10:00-22:00, Pazar 12:00-20:00\n\n## HIZMETLER VE FIYATLAR\n- Klasik Masaj (50 dk): 800 TL\n- Aromaterapi Masaj (60 dk): 1000 TL\n- Thai Masaj (60 dk): 1200 TL\n- Hot Stone Masaj (75 dk): 1400 TL\n- Cift Masaji (60 dk): 1800 TL\n- Kese + Kopuk (45 dk): 600 TL\n\n## KUPON SISTEMI\n- Her masaj = 1 kupon\n- 4 kupon = 1 ucretsiz masaj\n- Kupon islemleri icin WhatsApp kullanin\n\n## KURALLAR\n1. Kisa yanit ver (2-3 cumle)\n2. Emoji kullan 😊\n3. Randevu icin telefon ver\n4. Kupon sorusu = WhatsApp'a yonlendir"
        }
      },
      "id": "ai-agent-dm",
      "name": "AI Agent DM",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list", "cachedResultName": "models/gemini-2.0-flash" },
        "options": { "temperature": 0.4 }
      },
      "id": "gemini-dm",
      "name": "Gemini DM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 450],
      "credentials": {
        "googlePalmApi": {
          "id": "8vCTje6QjWsq6I98",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'ig_dm_' + $json.senderId }}",
        "contextWindowLength": 10
      },
      "id": "memory-dm",
      "name": "Memory DM",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [800, 450]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet senderId;\ntry { senderId = $('Parse Instagram').first().json.senderId; } catch (e) { senderId = 'unknown'; }\nconst aiOutput = input.output || input.text || 'Bir hata olustu. Lutfen tekrar deneyin.';\n\nlet cleanMessage = aiOutput\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/#{1,6}\\s/g, '')\n  .substring(0, 1000);\n\nreturn [{ json: { senderId: senderId, message: cleanMessage } }];"
      },
      "id": "format-dm",
      "name": "Format DM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841400730256913/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"recipient\":{\"id\":\"{{ $json.senderId }}\"},\"message\":{\"text\":\"{{ $json.message.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}}",
        "options": {}
      },
      "id": "send-dm",
      "name": "Send DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "instagram-business-api",
          "name": "Instagram Business API"
        }
      }
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-dm",
      "name": "DM Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Kullanici @' + $json.fromUsername + ' su yorumu yapti: \"' + $json.commentText + '\"' }}",
        "options": {
          "systemMessage": "Sen Eform SPA'nin Instagram yorum asistanisin. Yorumlara kisa ve samimi yanit ver.\n\n## KURALLAR\n1. Cok kisa yanit (1-2 cumle max)\n2. Emoji kullan 😊💆‍♀️✨\n3. Iltifat = Tesekkur et\n4. Soru = DM'den iletisime gec de\n5. Sikayet = Ozur dile, DM'den yardimci olacagini soyle\n6. Turkce yaz\n\n## ORNEKLER\n- 'Cok guzel!' → 'Tesekkurler! 😊💆‍♀️'\n- 'Fiyatlar ne?' → 'DM'den detayli bilgi verebiliriz! 📩'\n- 'Kotu hizmet' → 'Uzgunuz 😔 DM'den size yardimci olalim'"
        }
      },
      "id": "ai-agent-comment",
      "name": "AI Agent Comment",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 500]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list", "cachedResultName": "models/gemini-2.0-flash" },
        "options": { "temperature": 0.5 }
      },
      "id": "gemini-comment",
      "name": "Gemini Comment",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 650],
      "credentials": {
        "googlePalmApi": {
          "id": "8vCTje6QjWsq6I98",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst parseData = $('Parse Instagram').first().json;\nconst aiOutput = input.output || input.text || 'Tesekkurler! 😊';\n\nlet cleanMessage = aiOutput\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/#{1,6}\\s/g, '')\n  .substring(0, 300); // Comments have shorter limit\n\nreturn [{ json: { \n  commentId: parseData.commentId,\n  message: cleanMessage,\n  fromUsername: parseData.fromUsername\n} }];"
      },
      "id": "format-comment",
      "name": "Format Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $json.commentId }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":\"{{ $json.message.replace(/\"/g, '\\\\\"') }}\"}",
        "options": {}
      },
      "id": "send-comment-reply",
      "name": "Reply Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "instagram-business-api",
          "name": "Instagram Business API"
        }
      }
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-comment",
      "name": "Comment Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1550, 500]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Instagram", "type": "main", "index": 0 }]] },
    "Parse Instagram": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "AI Agent DM", "type": "main", "index": 0 }],
      [{ "node": "AI Agent Comment", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Gemini DM": { "ai_languageModel": [[{ "node": "AI Agent DM", "type": "ai_languageModel", "index": 0 }]] },
    "Memory DM": { "ai_memory": [[{ "node": "AI Agent DM", "type": "ai_memory", "index": 0 }]] },
    "AI Agent DM": { "main": [[{ "node": "Format DM", "type": "main", "index": 0 }]] },
    "Format DM": { "main": [[{ "node": "Send DM", "type": "main", "index": 0 }]] },
    "Send DM": { "main": [[{ "node": "DM Response", "type": "main", "index": 0 }]] },
    "Gemini Comment": { "ai_languageModel": [[{ "node": "AI Agent Comment", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent Comment": { "main": [[{ "node": "Format Comment", "type": "main", "index": 0 }]] },
    "Format Comment": { "main": [[{ "node": "Reply Comment", "type": "main", "index": 0 }]] },
    "Reply Comment": { "main": [[{ "node": "Comment Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
