n8n-workflows/workflows-v2/instagram-flow-inspiration.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"fb7942c3-a190-4d42-b402-d4dd2f320aca","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,140],"id":"7b020242-dadf-4f05-a658-782011edd734","name":"Webhook","webhookId":"fb7942c3-a190-4d42-b402-d4dd2f320aca"},{"parameters":{"assignments":{"assignments":[{"id":"48d4d9ac-87db-447e-9148-8d06cfaec007","name":"myID","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"968fe4db-39e7-483b-ab2a-ae00619aae23","name":"senderID","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"},{"id":"170246c5-e8a5-4b30-a68a-15dbc5897c3d","name":"userName","value":"={{ $json.body.entry[0].changes[0].value.from.username }}","type":"string"},{"id":"22720768-25af-40cc-96fa-ddcc27cb13e9","name":"commentID","value":"={{ $json.body.entry[0].changes[0].value.id }}","type":"string"},{"id":"5dbbb79c-7d9e-4aca-b2ea-92c3043df66c","name":"comment","value":"={{ $json.body.entry[0].changes[0].value.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"c93cc6d2-34af-4b72-8fa7-f98e97f1ae52","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,220],"id":"0faefd19-6c1f-4e0e-9ba2-84b56adf5ec0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vqGChfnzX5xyUyej","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"response\": \"compliment\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[980,220],"id":"496a378b-ed97-4740-84b8-22bf564ac58b","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.response }}","rightValue":"=compliment","operator":{"type":"string","operation":"equals"},"id":"31fc7ca8-24f5-4abf-bda4-103619c9f502"}],"combinator":"and"},"renameOutput":true,"outputKey":"compliment"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91639294-2a4d-40e9-a080-a22c9b1b18f8","leftValue":"={{ $json.output.response }}","rightValue":"criticism","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"criticism"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2101a82-e46b-46a8-8d5b-bf5ef9f429fc","leftValue":"={{ $json.output.response }}","rightValue":"question","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"question"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1140,0],"id":"36ae07c5-35d5-433a-8342-1c418c4cfbfb","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,-180],"id":"fc707ba9-f5c8-4112-a155-e150dac85a73","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"vqGChfnzX5xyUyej","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v22.0/{{ $('Edit Fields').item.json.commentID }}/replies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,-340],"id":"2ae6dac5-972d-441f-8c96-0bfcb5ff588d","name":"Responde comentario","credentials":{"facebookGraphApi":{"id":"2eHGLrEBa75lDVto","name":"Facebook Graph account"},"httpHeaderAuth":{"id":"5Go6Ho5olx1BZHoo","name":"Insta Secret"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.entry[0].changes[0].value.media.media_product_type }}","rightValue":"comments","operator":{"type":"string","operation":"exists","singleValue":true},"id":"7022d6af-874a-4891-afac-cbf18a4a48f5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Comments"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9154246b-7459-4617-8e2a-5c55113fad13","leftValue":"={{ $json.body.entry[0].messaging[0].message.text }}","rightValue":"messages","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Messages"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[40,140],"id":"34c0d866-1f31-4809-bf18-321c1b5c3bfe","name":"Comment or Message"},{"parameters":{"assignments":{"assignments":[{"id":"802871d4-7da8-4de9-9bab-268924b84c6b","name":"senderID","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"ed3cf872-07dc-41ae-ab17-8d42b4b515c5","name":"recipientID","value":"={{ $json.body.entry[0].messaging[0].recipient.id }}","type":"string"},{"id":"d91ee5e5-0cc9-48ad-9839-d3871b2d464b","name":"textMessage","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"426fb397-afb5-4d85-8644-257c95bdf367","name":"midCodeMessage","value":"={{ $json.body.entry[0].messaging[0].message.mid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,720],"id":"b1d51c2d-a46d-4a8d-93bf-4d6d1c0bdf16","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bf96ce9-f4c9-4c98-8d6d-b7bb3b871c7c","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"={{ $json.body.entry[0].changes[0].value.recipient.id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[420,720],"id":"15a9bcaa-c660-482a-af49-24aa8b395e24","name":"Filter 2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b3282ae-8c2f-4fc6-a254-e10101d605e1","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"={{ $json.body.entry[0].changes[0].value.from.id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[260,0],"id":"21bc7c47-fad5-46aa-8fd7-ee5c1cbdfc11","name":"Filter 1"},{"parameters":{"promptType":"define","text":"=comments: {{ $json.comment }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an evaluator of comments on an Instagram post. There are only three possible reponses: compliment, criticism, or question. Deberás responderlas en castellano o en inglés."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[740,0],"id":"ecf6e742-3d5d-4ccb-8b89-39e90f419245","name":"Basic LLM Chain Comments"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Edit Fields1').item.json.senderID }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient","value":"={{ $json.recipient }}"},{"name":"message","value":"={{ $json.message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,720],"id":"0e173d6d-c20b-4826-8531-84ad5eb8d7a9","name":"Responde Mensaje","credentials":{"httpHeaderAuth":{"id":"5Go6Ho5olx1BZHoo","name":"Insta Secret"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_ixSfNHg116HS4ywtbNA897DX","mode":"list","cachedResultName":"MessagesDM"},"prompt":"define","text":"={{ $json.textMessage }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[900,720],"id":"05107604-3fa5-4c5a-a094-2a71b4a39eb0","name":"OpenAI","credentials":{"openAiApi":{"id":"vqGChfnzX5xyUyej","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.recipientID }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1120,940],"id":"16cf2cde-dba8-4a60-94d6-91133139de1b","name":"Window Buffer Memory"},{"parameters":{"assignments":{"assignments":[{"id":"dda29a22-5777-4a9c-bf9f-643b723f8759","name":"recipient","value":"={{ $('Edit Fields1').item.json.recipientID }}","type":"string"},{"id":"9f7fa7fd-f952-4b56-a1f6-cee234eec6cf","name":"message","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,720],"id":"f025b960-5161-4bea-af61-a5d3ff251844","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v22.0/{{ $('Edit Fields').item.json.commentID }}/replies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,0],"id":"a4d660a5-159c-47d2-9c04-c3afdb4ccc4d","name":"Responde comentario negativo","credentials":{"httpHeaderAuth":{"id":"5Go6Ho5olx1BZHoo","name":"Header Auth account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1460,180],"id":"2941ac91-c630-4762-8d0e-ab7b8978ec9b","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"vqGChfnzX5xyUyej","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output.response }}","messages":{"messageValues":[{"message":"=En caso de una pregunta, duda o consulta pedir que por favor se comunique vía DM para una atención más personalizada. Usa un tono amable y respetuoso y usa emoticones para parecer más amigable todavía."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1400,340],"id":"15159538-80d3-4c56-9847-14e5ff0fc2b4","name":"Basic LLM Chain Questions"},{"parameters":{"promptType":"define","text":"={{ $json.output.response }}","messages":{"messageValues":[{"message":"=En caso de una crítica o comentario negativo (insultos, quejas, etc.) responde amablemente diciendo que nos vamos a comunicar por privado para solucionar el problema que haya tenido esa persona. Siempre sé amable y respetuoso."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1400,0],"id":"f9a07a86-8e3f-46b7-91bb-95cf3d6034c9","name":"Basic LLM Chain Negative Comments"},{"parameters":{"promptType":"define","text":"={{ $json.output.response }}","messages":{"messageValues":[{"message":"=You are responsible for responding to compliments on Instagram posts. Give short and direct replies, informally. Deberás responderlas en castellano o en inglés."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1400,-340],"id":"47bf9d65-243b-4bf3-9a53-05bcd87751f6","name":"Basic LLM Chain Compliments"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1460,520],"id":"f4db0881-d6de-4ddd-b2af-a2ed20e5dfab","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"vqGChfnzX5xyUyej","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v22.0/{{ $('Edit Fields').item.json.commentID }}/replies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,340],"id":"8fe9ba22-33f7-4002-8384-001f4008e623","name":"Responde comentario Pregunta","credentials":{"httpHeaderAuth":{"id":"5Go6Ho5olx1BZHoo","name":"Insta Secret"}}}],"connections":{"Webhook":{"main":[[{"node":"Comment or Message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain Comments","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain Comments","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain Comments","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"Basic LLM Chain Compliments","type":"main","index":0}],[{"node":"Basic LLM Chain Negative Comments","type":"main","index":0}],[{"node":"Basic LLM Chain Questions","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain Compliments","type":"ai_languageModel","index":0}]]},"Comment or Message":{"main":[[{"node":"Filter 1","type":"main","index":0}],[{"node":"Filter 2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Filter 2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Filter 1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Basic LLM Chain Comments":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Responde Mensaje":{"main":[[]]},"OpenAI":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"OpenAI","type":"ai_memory","index":0}]]},"Edit Fields2":{"main":[[{"node":"Responde Mensaje","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain Negative Comments","type":"ai_languageModel","index":0}]]},"Basic LLM Chain Questions":{"main":[[{"node":"Responde comentario Pregunta","type":"main","index":0}]]},"Basic LLM Chain Negative Comments":{"main":[[{"node":"Responde comentario negativo","type":"main","index":0}]]},"Basic LLM Chain Compliments":{"main":[[{"node":"Responde comentario","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain Questions","type":"ai_languageModel","index":0}]]}},"pinData":{"Webhook":[{"headers":{"host":"energia.app.n8n.cloud","user-agent":"facebookexternalua","content-length":"442","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2a03:2880:11ff:6::","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"91e7bfed613bf096-DFW","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","instagram-api-version":"v22.0","x-forwarded-for":"2a03:2880:11ff:6::, 172.70.94.111","x-forwarded-host":"energia.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-13-6db466c7ff-2hnlh","x-hub-signature":"sha1=ffbe0ff032ee2a061a3e315126a521ee9a30b24a","x-hub-signature-256":"sha256=47e034ca5a449b7a72cc8a036e1bc970cd8828bff6e0f8cc07b18ff1b664defc","x-is-trusted":"yes","x-real-ip":"2a03:2880:11ff:6::"},"params":{},"query":{},"body":{"object":"instagram","entry":[{"time":1741661482942,"id":"17841467771874893","messaging":[{"sender":{"id":"935743498382082"},"recipient":{"id":"17841467771874893"},"timestamp":1741661482129,"message":{"mid":"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY3NzcxODc0ODkzOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjA1NDYxNjIxNjM0NjAzOTozMjEyNzk4MzYyMzg4OTE4MTMzODg0OTkzNzkxNjQyODI4OAZDZD","text":"￼Hola! Como va??? Probando probando! Estas ahi?"}}]}]},"webhookUrl":"https://energia.app.n8n.cloud/webhook/fb7942c3-a190-4d42-b402-d4dd2f320aca","executionMode":"production"}]},"meta":{"templateCredsSetupCompleted":true,"instanceId":"d604f2e2924318cdf48d271ff142a5e7b389816cb8daf756ce90d1123770c4b8"}}