n8n-workflows/workflows-v2/instagram-dual-ai-suspicious-v1.json
{
  "name": "Instagram Full AI v19",
  "versionId": "instagram-full-ai-v19",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Instagram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "instagram-spa-dynamic"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 700],
      "webhookId": "workflow-test-channel"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst startTime = Date.now();\n\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'], isTestMode: false } }];\n}\n\nconst body = input.body || input;\n\nif (body.object !== 'instagram') {\n  return [{ json: { route: 'ignore', reason: 'not_instagram', isTestMode: false } }];\n}\n\nconst entry = body.entry?.[0];\nif (!entry) return [{ json: { route: 'ignore', reason: 'no_entry', isTestMode: false } }];\n\nconst messaging = entry.messaging?.[0];\nif (!messaging) return [{ json: { route: 'ignore', reason: 'no_messaging', isTestMode: false } }];\n\nconst message = messaging.message;\nif (!message || !message.text) return [{ json: { route: 'ignore', reason: 'no_text_message', isTestMode: false } }];\n\nif (message.is_echo === true) return [{ json: { route: 'ignore', reason: 'echo_message', isTestMode: false } }];\n\nconst text = message.text.trim();\nif (text.match(/instagram\\.com|ig\\.me|instagr\\.am|https?:\\/\\//i)) {\n  return [{ json: { route: 'ignore', reason: 'ad_link', isTestMode: false } }];\n}\n\nif (text.length < 3) {\n  return [{ json: { route: 'ignore', reason: 'too_short', isTestMode: false } }];\n}\n\nconst senderId = messaging.sender?.id;\nif (!senderId) return [{ json: { route: 'ignore', reason: 'no_sender', isTestMode: false } }];\n\nreturn [{ json: { route: 'process', senderId, text, messageId: message.mid, timestamp: messaging.timestamp, startTime, isTestMode: false } }];"
      },
      "id": "parse",
      "name": "Parse Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst text = (body.message || body.text || '').trim();\nconst startTime = Date.now();\n\nif (!text || text.length < 2) {\n  return [{ json: { status: 'error', error: 'Message required (min 2 chars)', isTestMode: true } }];\n}\n\nreturn [{ json: { route: 'process', senderId: 'test-user', text, startTime, isTestMode: true } }];"
      },
      "id": "parse-test",
      "name": "Parse Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 700]
    },
    { "parameters": { "mode": "append" }, "id": "merge-inputs", "name": "Merge Inputs", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [550, 500] },
    {
      "parameters": { "jsCode": "const input = $input.first().json;\nreturn [{ json: input }];" },
      "id": "dev-filter",
      "name": "Dev Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Verify" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "p", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Process" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Ignore" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 500]
    },
    { "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" }, "id": "resp-verify", "name": "Verify Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1150, 300] },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ignore", "name": "Ignore Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1150, 700] },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/services/instagram/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-service-status",
      "name": "Check Service Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1150, 500],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst parseData = $('Dev Filter').first().json;\n\nif (parseData.isTestMode) {\n  return [{ json: { ...parseData, serviceEnabled: true } }];\n}\n\nif (statusResponse.enabled === false) {\n  return [{ json: { route: 'maintenance', senderId: parseData.senderId, message: 'Sistem bakimda.', startTime: parseData.startTime, isTestMode: false } }];\n}\n\nreturn [{ json: { ...parseData, serviceEnabled: true } }];"
      },
      "id": "check-enabled",
      "name": "Check Enabled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "m", "leftValue": "={{ $json.route }}", "rightValue": "maintenance", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Maintenance" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "c", "leftValue": "={{ $json.serviceEnabled }}", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Continue" }
          ]
        },
        "options": {}
      },
      "id": "maintenance-check",
      "name": "Maintenance Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1550, 500]
    },
    {
      "parameters": { "jsCode": "const data = $input.first().json;\nreturn [{ json: { senderId: data.senderId, message: data.message, intent: 'maintenance', responseTime: Date.now() - data.startTime, isTestMode: data.isTestMode } }];" },
      "id": "fmt-maintenance",
      "name": "Format Maintenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 400]
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/check/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-suspicious",
      "name": "Check Suspicious",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 550],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const suspiciousStatus = $input.first().json;\nconst parseData = $('Check Enabled').first().json;\n\nif (parseData.isTestMode) {\n  return [{ json: { ...parseData, isSuspicious: false, offenseCount: 0 } }];\n}\n\nconst isSuspicious = suspiciousStatus.isSuspicious === true;\nconst offenseCount = suspiciousStatus.offenseCount || 0;\n\nreturn [{ json: { ...parseData, isSuspicious, offenseCount } }];"
      },
      "id": "process-suspicious-check",
      "name": "Process Suspicious Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 550]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/instagram/customer/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-customer",
      "name": "Fetch Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2150, 500],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/knowledge/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-knowledge",
      "name": "Fetch Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2150, 600],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/ai/prompt/instagram-spa-assistant",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-prompt",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2150, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://spa-kiosk.local" },
            { "name": "X-Title", "value": "SPA Digital Kiosk" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o-mini', messages: [{ role: 'system', content: 'Sen bir intent siniflandirici AI\\'sin. Musteri mesajlarini analiz et ve hangi kategoriye ait oldugunu belirle.\\n\\nKATEGORILER:\\n- faq: Sikca sorulan sorular (kadinlar gunu, kese kopuk, PT, yaninda ne getir, terapist yasal mi, randevu nasil, ileri tarih randevu)\\n- pricing: Fiyat sorulari (masaj fiyatlari, ne kadar, ucret)\\n- membership: Uyelik sorulari (fitness, spor salonu, gym, pilates, aile uyeligi)\\n- hours: Calisma saatleri (saat kacta, acik mi, kapali mi)\\n- location: Adres, konum sorulari\\n- services: Hizmetler (masaj turleri, spa, hamam, sauna)\\n- kids: Cocuk kurslari (yuzme, jimnastik, taekwondo)\\n- policies: Kurallar (yas siniri, iptal politikasi)\\n- booking: Randevu talebi\\n- thanks: Tesekkur mesajlari\\n- general_info: Genel bilgi, merhaba, selam\\n\\nSadece kategori adini yaz. Baska bir sey yazma.' }, { role: 'user', content: $('Process Suspicious Check').first().json.text }], temperature: 0.1, max_tokens: 20 }) }}",
        "options": { "timeout": 3000, "response": { "response": { "neverError": true } } }
      },
      "id": "ai-intent",
      "name": "AI Intent Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2150, 800],
      "credentials": { "httpHeaderAuth": { "id": "OpenRouterAPI001", "name": "OpenRouter API" } }
    },
    { "parameters": { "mode": "append" }, "id": "merge-data", "name": "Merge Data", "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [2400, 600] },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parseData = $('Process Suspicious Check').first().json;\nconst aiIntentResponse = $('AI Intent Detection').first().json;\n\nlet customer = {}, knowledge = {}, aiPrompt = {};\nfor (const item of items) {\n  const json = item.json;\n  if (json.systemMessage) aiPrompt = json;\n  else if (json.isNewCustomer !== undefined || json.interactionCount !== undefined) customer = json;\n  else if (json.pricing || json.services || json.hours || json.contact || json.policies || json.faq) knowledge = json;\n}\n\nconst isNewCustomer = customer.isNewCustomer !== false;\nconst interactionCount = customer.interactionCount || 0;\nconst isFirstMessage = isNewCustomer || interactionCount <= 1;\nconst isSuspicious = parseData.isSuspicious === true;\nconst offenseCount = parseData.offenseCount || 0;\nconst textLower = parseData.text.toLowerCase();\n\n// Get AI-detected intent\nlet intent = 'general_info';\nconst aiContent = aiIntentResponse.choices?.[0]?.message?.content?.trim().toLowerCase();\nconst validIntents = ['faq', 'pricing', 'membership', 'hours', 'location', 'services', 'kids', 'policies', 'booking', 'thanks', 'general_info'];\nif (validIntents.includes(aiContent)) {\n  intent = aiContent;\n} else if (aiIntentResponse.error) {\n  if (textLower.match(/fiyat|ucret|ne kadar/i)) intent = 'pricing';\n  else if (textLower.match(/saat|acik|kapali/i)) intent = 'hours';\n  else if (textLower.match(/adres|nerede/i)) intent = 'location';\n  else if (textLower.match(/masaj|spa/i)) intent = 'services';\n}\n\n// Check for specific topics in message (topic detection)\nconst mentionsPilates = textLower.match(/pilates|reformer/i);\nconst mentionsMassage = textLower.match(/masaj|massage/i);\nconst mentionsFitness = textLower.match(/fitness|spor|gym|uyelik/i);\nconst mentionsCourses = textLower.match(/taekwondo|yuzme|jimnastik|kickboks|boks|kurs/i);\n\n// BUILD KNOWLEDGE CONTEXT based on AI-detected intent + message content\nlet knowledgeContext = '\\n\\n=== BILGILER (SADECE BUNLARI KULLAN, ASLA UYDURMA!) ===';\n\nif ((intent === 'faq' || intent === 'policies') && knowledge.faq) {\n  knowledgeContext += '\\n\\n❓ SIKCA SORULAN SORULAR:';\n  Object.entries(knowledge.faq).forEach(([key, v]) => { knowledgeContext += '\\n• ' + v; });\n}\n\nif (intent === 'policies' && knowledge.policies) {\n  knowledgeContext += '\\n\\n📋 KURALLAR:';\n  Object.entries(knowledge.policies).forEach(([key, v]) => { knowledgeContext += '\\n• ' + v; });\n}\n\n// Add pilates info if message mentions pilates (regardless of intent)\nif (mentionsPilates) {\n  if (knowledge.pricing?.reformer_pilates) knowledgeContext += '\\n\\n🧘 PILATES FIYAT:\\n' + knowledge.pricing.reformer_pilates;\n  if (knowledge.services?.reformer_pilates_details) knowledgeContext += '\\n\\n🧘 PILATES DETAY:\\n' + knowledge.services.reformer_pilates_details;\n}\n\n// Add courses info if message mentions any course (taekwondo, yuzme, etc)\nif (mentionsCourses || intent === 'kids') {\n  if (knowledge.services?.courses_kids) knowledgeContext += '\\n\\n👶 COCUK KURSLARI:\\n' + knowledge.services.courses_kids;\n  if (knowledge.pricing?.courses_kids) knowledgeContext += '\\n\\n💰 KURS FIYATLARI:\\n' + knowledge.pricing.courses_kids;\n  if (knowledge.services?.courses_women) knowledgeContext += '\\n\\n👩 KADIN KURSLARI:\\n' + knowledge.services.courses_women;\n  if (knowledge.pricing?.courses_women) knowledgeContext += '\\n💰 ' + knowledge.pricing.courses_women;\n  // Add course schedules\n  if (knowledge.hours?.taekwondo_schedule) knowledgeContext += '\\n\\n🥋 ' + knowledge.hours.taekwondo_schedule;\n  if (knowledge.hours?.kickboxing_schedule) knowledgeContext += '\\n🥊 ' + knowledge.hours.kickboxing_schedule;\n  if (knowledge.hours?.gymnastics_schedule) knowledgeContext += '\\n🤸 ' + knowledge.hours.gymnastics_schedule;\n  if (knowledge.hours?.swim_kids_schedule) knowledgeContext += '\\n🏊 ' + knowledge.hours.swim_kids_schedule;\n  if (knowledge.hours?.swim_women_schedule) knowledgeContext += '\\n🏊‍♀️ ' + knowledge.hours.swim_women_schedule;\n  if (knowledge.policies?.age_groups) knowledgeContext += '\\n\\n📋 YAS GRUPLARI: ' + knowledge.policies.age_groups;\n}\n\n// Add massage info if message mentions massage or pricing intent\nif (mentionsMassage || intent === 'pricing' || intent === 'general_info' || isFirstMessage) {\n  if (knowledge.pricing?.current_campaign) knowledgeContext += '\\n\\n' + knowledge.pricing.current_campaign;\n  if (knowledge.pricing?.spa_massage && !mentionsPilates) knowledgeContext += '\\n\\n' + knowledge.pricing.spa_massage;\n  if (knowledge.pricing?.special_massage) knowledgeContext += '\\n\\n' + knowledge.pricing.special_massage;\n  if (knowledge.services?.therapist_info) knowledgeContext += '\\n\\n' + knowledge.services.therapist_info;\n}\n\nif (intent === 'general_info' || isFirstMessage) {\n  if (knowledge.services?.facility_overview) knowledgeContext += '\\n\\n🏢 TESIS:\\n' + knowledge.services.facility_overview;\n  if (knowledge.services?.membership_includes) knowledgeContext += '\\n\\n✅ TESIS KULLANIMI:\\n' + knowledge.services.membership_includes;\n}\n\nif (intent === 'services' || intent === 'general_info') {\n  if (knowledge.services?.therapist_info) knowledgeContext += '\\n\\n👩‍⚕️ TERAPISTLER:\\n' + knowledge.services.therapist_info;\n  if (knowledge.services?.facility_overview && !knowledgeContext.includes('TESIS:')) knowledgeContext += '\\n\\n🏢 TESIS:\\n' + knowledge.services.facility_overview;\n}\n\nif (intent === 'membership' || mentionsFitness) {\n  knowledgeContext += '\\n\\n🏋️ UYELIK UCRETLERI:';\n  if (knowledge.pricing?.membership_individual) knowledgeContext += '\\n\\n👤 FERDI:\\n' + knowledge.pricing.membership_individual;\n  if (knowledge.pricing?.membership_family) knowledgeContext += '\\n\\n👨‍👩‍👧 AILE:\\n' + knowledge.pricing.membership_family;\n  if (!mentionsPilates && knowledge.pricing?.reformer_pilates) knowledgeContext += '\\n\\n🧘 PILATES FIYAT:\\n' + knowledge.pricing.reformer_pilates;\n  if (!mentionsPilates && knowledge.services?.reformer_pilates_details) knowledgeContext += '\\n\\n🧘 PILATES DETAY:\\n' + knowledge.services.reformer_pilates_details;\n  if (knowledge.services?.facility_overview && !knowledgeContext.includes('TESIS:')) knowledgeContext += '\\n\\n🏢 TESIS:\\n' + knowledge.services.facility_overview;\n  if (knowledge.services?.membership_includes && !knowledgeContext.includes('TESIS KULLANIMI:')) knowledgeContext += '\\n\\n✅ TESIS KULLANIMI:\\n' + knowledge.services.membership_includes;\n}\n\nif (intent === 'hours' || intent === 'booking') {\n  knowledgeContext += '\\n\\n🕐 SAATLER:';\n  if (knowledge.hours?.spa_working_hours) knowledgeContext += '\\n• SPA: ' + knowledge.hours.spa_working_hours;\n  if (knowledge.hours?.facility_working_hours) knowledgeContext += '\\n• SPOR: ' + knowledge.hours.facility_working_hours;\n}\n\nif (intent === 'location' || intent === 'booking' || intent === 'general_info') {\n  if (knowledge.contact?.phone) knowledgeContext += '\\n\\n📞 RANDEVU: ' + knowledge.contact.phone;\n  if (knowledge.contact?.address && intent === 'location') knowledgeContext += '\\n📍 ADRES: ' + knowledge.contact.address;\n}\n\nif (knowledge.contact?.phone && !knowledgeContext.includes(knowledge.contact.phone)) {\n  knowledgeContext += '\\n\\n📞 RANDEVU: ' + knowledge.contact.phone;\n}\n\n// SYSTEM PROMPT - Different for suspicious users\nlet systemPrompt = aiPrompt.systemMessage || 'Sen Eform Spor Merkezi musteri temsilcisisin.';\n\nif (isSuspicious) {\n  systemPrompt = 'Sen Eform Spor Merkezi musteri temsilcisisin. ONEMLI: Bu kullanici daha once uygunsuz mesaj gondermis. DIREKT ve KISA cevap ver. ASLA samimi olma. ASLA \"nasil yardimci olabilirim\", \"randevu ister misiniz\", \"baska soru var mi\" gibi sorular SORMA. Sadece sorulan soruya cevap ver ve BIT. Uygunsuz icerik algilasan HEMEN sert reddet.';\n}\n\nlet customerHint = '';\nif (isFirstMessage && !isSuspicious) {\n  customerHint = '\\n\\n⚠️ ILK MESAJ! Kendini tanit: \"Merhaba! Ben Eform Spor Merkezi dijital asistaniyim.\"';\n} else if (isSuspicious) {\n  customerHint = '\\n\\n⚠️ SUPELI KULLANICI (ihlal: ' + offenseCount + '). Direkt cevap ver, samimi olma, ASLA soru sorma (randevu, yardim, vs). Sadece cevap ver ve BIT.';\n}\n\nreturn [{ json: { senderId: parseData.senderId, text: parseData.text, startTime: parseData.startTime, intent, isFirstMessage, isSuspicious, offenseCount, systemPrompt, customerHint, knowledgeContext, isTestMode: parseData.isTestMode } }];"
      },
      "id": "enrich-context",
      "name": "Enrich Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 600]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://spa-kiosk.local" },
            { "name": "X-Title", "value": "SPA Digital Kiosk" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o-mini', messages: [{ role: 'system', content: 'Sen bir guvenlik filtresisin. Mesajlari analiz et ve uygun olup olmadigini belirle.\\n\\nREJECT (reddet) - SADECE asagidaki durumlarda:\\n- Acik cinsel icerik: \"mutlu son\", \"happy ending\", \"mutlu\", \"sonu guzel\", \"sonu keyifli\", \"ekstra servis\", \"ozel masaj\", \"gizli hizmet\", \"VIP masaj\", \"full servis\", \"escort\", \"romantik masaj\", \"sevgili masaji\", \"partner masaji\"\\n- Cinsel ima: \"masaj sonrasi ne olur\", \"odada ne olur\", \"gece masaji\", \"keyifli masaj\"\\n- Personel bilgisi istekleri: \"terapist telefonu\", \"calisanin numarasi\", \"masajci kiz\"\\n- Taciz, tehdit, kufur\\n\\nALLOW (izin ver) - Asagidaki NORMAL sorular:\\n- Fiyat sorulari: masaj fiyati, ucret, ne kadar\\n- Hizmet sorulari: kese kopuk, hamam, sauna, aromaterapi, sicak tas\\n- Saat sorulari: saat kacta, acik mi, kapali mi\\n- Adres sorulari: nerede, adres\\n- Randevu talepleri\\n- Uyelik sorulari: fitness, pilates, gym\\n- Cocuk kurslari: yuzme, jimnastik\\n- Genel sorular: merhaba, tesekkur\\n\\nONEMLI: \"kese kopuk\", \"hamam\", \"sauna\", \"aromaterapi\" gibi normal spa hizmetleri ALLOW olmali!\\n\\nSadece \"ALLOW\" veya \"REJECT\" yaz.' }, { role: 'user', content: $json.text }], temperature: 0.1, max_tokens: 10 }) }}",
        "options": { "timeout": 3000, "response": { "response": { "neverError": true } } }
      },
      "id": "ai-safety-check",
      "name": "AI Safety Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2800, 600],
      "credentials": { "httpHeaderAuth": { "id": "OpenRouterAPI001", "name": "OpenRouter API" } }
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Enrich Context').first().json;\nconst aiResponse = $input.first().json;\n\nlet safetyDecision = 'ALLOW';\nlet safetyReason = 'ai_approved';\n\nconst aiContent = aiResponse.choices?.[0]?.message?.content?.trim().toUpperCase();\n\nif (aiContent === 'REJECT') {\n  safetyDecision = 'REJECT';\n  safetyReason = 'ai_detected_inappropriate';\n} else if (!aiContent || aiResponse.error) {\n  // AI failed - fallback to keyword check for critical words\n  const text = enrichData.text.toLowerCase();\n  if (text.match(/mutlu|happy.*ending|cinsel|seks|sex/i)) {\n    safetyDecision = 'REJECT';\n    safetyReason = 'fallback_keyword_match';\n  }\n}\n\nreturn [{ json: { ...enrichData, safetyDecision, safetyReason } }];"
      },
      "id": "parse-safety",
      "name": "Parse Safety",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2950, 600]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "reject", "leftValue": "={{ $json.safetyDecision }}", "rightValue": "REJECT", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Reject" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "allow", "leftValue": "={{ $json.safetyDecision }}", "rightValue": "ALLOW", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Allow" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "safety-router",
      "name": "Safety Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3000, 600]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst knowledge = $('Fetch Knowledge').first().json || {};\n\n// Get rejection prompt from knowledge base or use default\nconst rejectionPrompt = knowledge.policies?.rejection_prompt || 'DIREKT ve SERT reddet. Kullaniciyi AZARLA. KISA cevap ver.';\n\n// Add HARSH denial instruction to system prompt\ndata.systemPrompt = data.systemPrompt + '\\n\\n🚫 KRITIK UYARI: Bu kullanici uygunsuz/cinsel icerik istedi (' + data.safetyReason + ').\\n\\n' + rejectionPrompt;\n\ndata.customerHint = '\\n\\n⚠️ UYGUNSUZ TALEP! SERT VE KABA REDDET!';\n\nreturn [{ json: data }];"
      },
      "id": "prepare-denial",
      "name": "Prepare Denial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 500]
    },


    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt + '\\n\\n⚠️ GUVENLIK KURALLARI:\\n- Cinsel ifadeleri ASLA onaylama\\n- Belirsiz \"son\" veya \"bitis\" sorularini olumlu cevaplama\\n- Sadece profesyonel spa hizmetleri hakkinda konus\\n\\n🏢 SIRKET ADI: \"Eform Spor Merkezi\" (ASLA \"Eform Spa\" deme!)\\n\\n🚫 KRITIK: MESAJ SONUNA EK CUMLE EKLEME!\\n- \"Daha fazla bilgi almak isterseniz\" YAZMA!\\n- \"Randevu olusturmak isterseniz\" YAZMA!\\n- \"Yardimci olabilirim\" YAZMA!\\n- Cevabi ver ve SUS!' + $json.customerHint + $json.knowledgeContext }}",
          "maxIterations": 1
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [3200, 700]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": { "temperature": 0.3, "maxTokens": 500 }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [3100, 900],
      "credentials": { "openRouterApi": { "id": "T1Xb3R0FOkV4vhAy", "name": "OpenRouter account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'ig_' + $('Dev Filter').first().json.senderId }}",
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [3250, 900]
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Parse Safety').first().json;\nconst aiOutput = $input.first().json;\nlet message = aiOutput.output || aiOutput.text || 'Bir hata olustu.';\n\nmessage = message.replace(/\\*\\*/g, '').replace(/\\*/g, '').replace(/\\n{3,}/g, '\\n\\n').trim().substring(0, 1000);\nconst responseTime = Date.now() - enrichData.startTime;\n\n// Flag user if this was a REJECT case\nconst shouldFlag = enrichData.safetyDecision === 'REJECT';\n\nreturn [{ json: { senderId: enrichData.senderId, message, intent: enrichData.intent, responseTime, originalText: enrichData.text, safetyDecision: enrichData.safetyDecision, safetyReason: enrichData.safetyReason, isSuspicious: enrichData.isSuspicious, isTestMode: enrichData.isTestMode, shouldFlag } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, 700]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "test", "leftValue": "={{ $json.isTestMode }}", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Test" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "ig", "leftValue": "={{ $json.isTestMode }}", "rightValue": "false", "operator": { "type": "boolean", "operation": "false" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Instagram" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "output-router",
      "name": "Output Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3600, 600]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "flag", "leftValue": "={{ $json.shouldFlag }}", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Flag" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "skip", "leftValue": "={{ $json.shouldFlag }}", "rightValue": "false", "operator": { "type": "boolean", "operation": "false" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Skip" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "test-flag-router",
      "name": "Test Flag Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3800, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/flag/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reason: $json.safetyReason || 'inappropriate_content' }) }}",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "test-flag-http",
      "name": "Test Flag HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4000, 450],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "// Get original data from Format Response\nconst formatData = $('Format Response').first().json;\nreturn [{ json: formatData }];"
      },
      "id": "test-merge-flag-result",
      "name": "Test Merge Flag Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', response: $json.message, intent: $json.intent, responseTime: $json.responseTime, originalMessage: $json.originalText, safetyDecision: $json.safetyDecision || 'N/A', isSuspicious: $json.isSuspicious || false, flagged: $json.shouldFlag || false }) }}"
      },
      "id": "test-response",
      "name": "Test Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4400, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841400730256913/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $json.senderId }, message: { text: $json.message } }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "send-ig",
      "name": "Send Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3800, 700],
      "credentials": { "httpHeaderAuth": { "id": "rBp2vg2XlwgtEPNX", "name": "Instagram Business API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/instagram/interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instagramId: $json.senderId, direction: 'outbound', messageText: $json.message, intent: $json.intent, responseTime: $json.responseTime, safetyDecision: $json.safetyDecision || 'N/A' }) }}",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "log",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4000, 700],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "// Get original data from Format Response (before Log Interaction)\nconst formatData = $('Format Response').first().json;\nreturn [{ json: formatData }];"
      },
      "id": "ig-merge-log-result",
      "name": "IG Merge Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4100, 700]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "flag", "leftValue": "={{ $json.shouldFlag }}", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Flag" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "skip", "leftValue": "={{ $json.shouldFlag }}", "rightValue": "false", "operator": { "type": "boolean", "operation": "false" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Skip" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "flag-router",
      "name": "Flag Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [4200, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/flag/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reason: $json.safetyReason || 'inappropriate_content' }) }}",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "flag-suspicious-ig",
      "name": "Flag Suspicious IG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [4400, 650],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ok", "name": "OK Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [4600, 700] }
  ],

  "connections": {
    "Webhook Instagram": { "main": [[{ "node": "Parse Instagram", "type": "main", "index": 0 }]] },
    "Webhook Test": { "main": [[{ "node": "Parse Test", "type": "main", "index": 0 }]] },
    "Parse Instagram": { "main": [[{ "node": "Merge Inputs", "type": "main", "index": 0 }]] },
    "Parse Test": { "main": [[{ "node": "Merge Inputs", "type": "main", "index": 1 }]] },
    "Merge Inputs": { "main": [[{ "node": "Dev Filter", "type": "main", "index": 0 }]] },
    "Dev Filter": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "Check Service Status", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Check Service Status": { "main": [[{ "node": "Check Enabled", "type": "main", "index": 0 }]] },
    "Check Enabled": { "main": [[{ "node": "Maintenance Check", "type": "main", "index": 0 }]] },
    "Maintenance Check": { "main": [
      [{ "node": "Format Maintenance", "type": "main", "index": 0 }],
      [{ "node": "Check Suspicious", "type": "main", "index": 0 }]
    ]},
    "Check Suspicious": { "main": [[{ "node": "Process Suspicious Check", "type": "main", "index": 0 }]] },
    "Process Suspicious Check": { "main": [[{ "node": "Fetch Customer", "type": "main", "index": 0 }, { "node": "Fetch Knowledge", "type": "main", "index": 0 }, { "node": "Fetch Prompt", "type": "main", "index": 0 }, { "node": "AI Intent Detection", "type": "main", "index": 0 }]] },
    "Format Maintenance": { "main": [[{ "node": "Output Router", "type": "main", "index": 0 }]] },
    "Fetch Customer": { "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]] },
    "Fetch Knowledge": { "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]] },
    "Fetch Prompt": { "main": [[{ "node": "Merge Data", "type": "main", "index": 2 }]] },
    "AI Intent Detection": { "main": [[{ "node": "Merge Data", "type": "main", "index": 3 }]] },
    "Merge Data": { "main": [[{ "node": "Enrich Context", "type": "main", "index": 0 }]] },
    "Enrich Context": { "main": [[{ "node": "AI Safety Check", "type": "main", "index": 0 }]] },
    "AI Safety Check": { "main": [[{ "node": "Parse Safety", "type": "main", "index": 0 }]] },
    "Parse Safety": { "main": [[{ "node": "Safety Router", "type": "main", "index": 0 }]] },
    "Safety Router": { "main": [
      [{ "node": "Prepare Denial", "type": "main", "index": 0 }],
      [{ "node": "AI Agent", "type": "main", "index": 0 }]
    ]},
    "Prepare Denial": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "OpenRouter Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Output Router", "type": "main", "index": 0 }]] },
    "Output Router": { "main": [
      [{ "node": "Test Flag Router", "type": "main", "index": 0 }],
      [{ "node": "Send Instagram", "type": "main", "index": 0 }]
    ]},
    "Test Flag Router": { "main": [
      [{ "node": "Test Flag HTTP", "type": "main", "index": 0 }],
      [{ "node": "Test Response", "type": "main", "index": 0 }]
    ]},
    "Test Flag HTTP": { "main": [[{ "node": "Test Merge Flag Result", "type": "main", "index": 0 }]] },
    "Test Merge Flag Result": { "main": [[{ "node": "Test Response", "type": "main", "index": 0 }]] },
    "Send Instagram": { "main": [[{ "node": "Log Interaction", "type": "main", "index": 0 }]] },
    "Log Interaction": { "main": [[{ "node": "IG Merge Log Result", "type": "main", "index": 0 }]] },
    "IG Merge Log Result": { "main": [[{ "node": "Flag Router", "type": "main", "index": 0 }]] },
    "Flag Router": { "main": [
      [{ "node": "Flag Suspicious IG", "type": "main", "index": 0 }],
      [{ "node": "OK Response", "type": "main", "index": 0 }]
    ]},
    "Flag Suspicious IG": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
