n8n-workflows/workflows-v2/instagram-dual-ai-suspicious-v1.json
{
  "name": "Instagram Full AI v21",
  "versionId": "instagram-full-ai-v35-rename-massage-v4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Instagram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "instagram-spa-dynamic"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        700
      ],
      "webhookId": "workflow-test-channel"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst startTime = Date.now();\n\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'], isTestMode: false } }];\n}\n\nconst body = input.body || input;\n\nif (body.object !== 'instagram') {\n  return [{ json: { route: 'ignore', reason: 'not_instagram', isTestMode: false } }];\n}\n\nconst entry = body.entry?.[0];\nif (!entry) return [{ json: { route: 'ignore', reason: 'no_entry', isTestMode: false } }];\n\nconst messaging = entry.messaging?.[0];\nif (!messaging) return [{ json: { route: 'ignore', reason: 'no_messaging', isTestMode: false } }];\n\nconst message = messaging.message;\nif (!message || !message.text) return [{ json: { route: 'ignore', reason: 'no_text_message', isTestMode: false } }];\n\nif (message.is_echo === true) return [{ json: { route: 'ignore', reason: 'echo_message', isTestMode: false } }];\n\nconst text = message.text.trim();\nif (text.match(/instagram\\.com|ig\\.me|instagr\\.am|https?:\\/\\//i)) {\n  return [{ json: { route: 'ignore', reason: 'ad_link', isTestMode: false } }];\n}\n\nif (text.length < 3) {\n  return [{ json: { route: 'ignore', reason: 'too_short', isTestMode: false } }];\n}\n\nconst senderId = messaging.sender?.id;\nif (!senderId) return [{ json: { route: 'ignore', reason: 'no_sender', isTestMode: false } }];\n\nreturn [{ json: { route: 'process', senderId, text, messageId: message.mid, timestamp: messaging.timestamp, startTime, isTestMode: false } }];"
      },
      "id": "parse",
      "name": "Parse Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst text = (body.message || body.text || '').trim();\nconst startTime = Date.now();\n\nif (!text || text.length < 2) {\n  return [{ json: { status: 'error', error: 'Message required (min 2 chars)', isTestMode: true } }];\n}\n\nreturn [{ json: { route: 'process', senderId: 'test-user', text, startTime, isTestMode: true } }];"
      },
      "id": "parse-test",
      "name": "Parse Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        700
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-inputs",
      "name": "Merge Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        550,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: input }];"
      },
      "id": "dev-filter",
      "name": "Dev Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "v",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "verify",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Verify"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "p",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "process",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Process"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "i",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "ignore",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignore"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}"
      },
      "id": "resp-verify",
      "name": "Verify Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "resp-ignore",
      "name": "Ignore Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1150,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/services/instagram/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-service-status",
      "name": "Check Service Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1150,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst parseData = $('Dev Filter').first().json;\n\nif (parseData.isTestMode) {\n  return [{ json: { ...parseData, serviceEnabled: true } }];\n}\n\nif (statusResponse.enabled === false) {\n  return [{ json: { route: 'maintenance', senderId: parseData.senderId, message: 'Sistem bakimda.', startTime: parseData.startTime, isTestMode: false } }];\n}\n\nreturn [{ json: { ...parseData, serviceEnabled: true } }];"
      },
      "id": "check-enabled",
      "name": "Check Enabled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "m",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "maintenance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maintenance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "c",
                    "leftValue": "={{ $json.serviceEnabled }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {}
      },
      "id": "maintenance-check",
      "name": "Maintenance Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1550,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { senderId: data.senderId, message: data.message, intent: 'maintenance', responseTime: Date.now() - data.startTime, isTestMode: data.isTestMode } }];"
      },
      "id": "fmt-maintenance",
      "name": "Format Maintenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/check/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-suspicious",
      "name": "Check Suspicious",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1750,
        550
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const suspiciousStatus = $input.first().json;\nconst parseData = $('Check Enabled').first().json;\n\nif (parseData.isTestMode) {\n  return [{ json: { ...parseData, isSuspicious: false, offenseCount: 0 } }];\n}\n\nconst isSuspicious = suspiciousStatus.isSuspicious === true;\nconst offenseCount = suspiciousStatus.offenseCount || 0;\n\nreturn [{ json: { ...parseData, isSuspicious, offenseCount } }];"
      },
      "id": "process-suspicious-check",
      "name": "Process Suspicious Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        550
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/instagram/customer/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-customer",
      "name": "Fetch Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2150,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/knowledge/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-knowledge",
      "name": "Fetch Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2150,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/ai/prompt/instagram-spa-assistant",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-prompt",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2150,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://spa-kiosk.local"
            },
            {
              "name": "X-Title",
              "value": "SPA Digital Kiosk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o', messages: [{ role: 'system', content: 'Sen bir intent siniflandirici AI\\'sin. Musteri mesajlarini analiz et ve hangi kategoriye ait oldugunu belirle.\\n\\nKATEGORILER:\\n- faq: Sikca sorulan sorular (kadinlar gunu, kese kopuk, PT, yaninda ne getir, terapist yasal mi, randevu nasil, ileri tarih randevu)\\n- pricing: Fiyat sorulari (masaj fiyatlari, ne kadar, ucret, kac para, gunluk giris, tek seans)\\n- membership: Uyelik sorulari (fitness, spor salonu, gym, pilates, aile uyeligi, kuzen dahil mi)\\n- hours: Calisma saatleri (saat kacta, acik mi, kapali mi, yuzme saati, jimnastik saati)\\n- location: Adres, konum sorulari (nerede, yer, konum)\\n- services: Hizmetler (masaj turleri, spa, hamam, sauna, sicak tas, terapist bilgi, tesis genel)\\n- kids: Cocuk kurslari (yuzme, jimnastik, taekwondo, kadin yuzme, cocuk girebilir mi)\\n- policies: Kurallar (yas siniri, iptal politikasi, aile uyeligi kural, kuzen dahil mi)\\n- booking: Randevu talebi\\n- thanks: Tesekkur mesajlari\\n- general_info: Genel bilgi, merhaba, selam\\n\\nONEMLI:\\n- \"PT\" veya \"personal trainer\" sorulari = faq\\n- \"kese kopuk fiyat\" = pricing (fiyat sorusu)\\n- \"gunluk giris\" = pricing (fiyat sorusu)\\n- \"sicak tas\" = services (hizmet sorusu)\\n- \"terapist\" = services (hizmet sorusu)\\n- \"yuzme saati\" = hours (saat sorusu)\\n- \"cocuk girebilir\" = policies (kural sorusu)\\n- \"aile uyeligi kural\" = policies (kural sorusu)\\n- \"kadin yuzme\" = kids (kurs sorusu)\\n\\nSadece kategori adini yaz. Baska bir sey yazma.' }, { role: 'user', content: $('Process Suspicious Check').first().json.text }], temperature: 0.05, max_tokens: 20 }) }}",
        "options": {
          "timeout": 3000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ai-intent",
      "name": "AI Intent Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2150,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OpenRouterAPI001",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2400,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\r\nconst parseData = $('Process Suspicious Check').first().json;\r\nconst aiIntentResponse = $('AI Intent Detection').first().json;\r\n\r\nlet customer = {}, knowledge = {}, aiPrompt = {};\r\nfor (const item of items) {\r\n  const json = item.json;\r\n  if (json.systemMessage) aiPrompt = json;\r\n  else if (json.isNewCustomer !== undefined || json.interactionCount !== undefined) customer = json;\r\n  else if (json.pricing || json.services || json.hours || json.contact || json.policies || json.faq) knowledge = json;\r\n}\r\n\r\nconst isNewCustomer = customer.isNewCustomer !== false;\r\nconst interactionCount = customer.interactionCount || 0;\r\nconst isFirstMessage = isNewCustomer || interactionCount <= 1;\r\nconst isSuspicious = parseData.isSuspicious === true;\r\nconst offenseCount = parseData.offenseCount || 0;\r\nconst textLower = parseData.text.toLowerCase();\r\n\r\n// Normalize Turkish characters\r\nconst normalizedText = textLower\r\n  .replace(/ГѓвЂ¦Г…Вё/g, 's').replace(/ГѓвЂћГ‚В±/g, 'i')\r\n  .replace(/ГѓвЂћГ…Вё/g, 'g').replace(/ГѓЖ’Г‚Вј/g, 'u')\r\n  .replace(/ГѓЖ’Г‚В¶/g, 'o').replace(/ГѓЖ’Г‚В§/g, 'c');\r\n\r\n// ============================================\r\n// AI-DRIVEN INTENT DETECTION (NO HARDCODING)\r\n// ============================================\r\n\r\n// Parse AI response - expecting JSON array of intents\r\nlet detectedIntents = [];\r\nconst aiContent = aiIntentResponse.choices?.[0]?.message?.content?.trim();\r\n\r\ntry {\r\n  // Try to parse as JSON array\r\n  const parsed = JSON.parse(aiContent);\r\n  if (Array.isArray(parsed)) {\r\n    detectedIntents = parsed;\r\n  } else if (typeof parsed === 'string') {\r\n    detectedIntents = [parsed];\r\n  }\r\n} catch (e) {\r\n  // Fallback: treat as comma-separated string or single intent\r\n  if (aiContent) {\r\n    detectedIntents = aiContent.split(',').map(s => s.trim().toLowerCase());\r\n  }\r\n}\r\n\r\n// Validate intents\r\nconst validIntents = ['faq', 'pricing', 'membership', 'hours', 'location', 'services', 'kids', 'policies', 'booking', 'thanks', 'general_info'];\r\ndetectedIntents = detectedIntents.filter(intent => validIntents.includes(intent));\r\n\r\n// If no valid intents detected, use general_info\r\nif (detectedIntents.length === 0) {\r\n  detectedIntents = ['general_info'];\r\n}\r\n\r\nconst primaryIntent = detectedIntents[0];\r\n\r\n// ============================================\r\n// TOPIC DETECTION (SPECIFIC ENTITIES)\r\n// ============================================\r\n\r\n// Topics are specific entities mentioned (not intents)\r\nconst detectedTopics = {\r\n  pilates: /pilates|reformer/i.test(textLower),\r\n  massage: /masaj|massage/i.test(textLower),\r\n  pt: /\\bpt\\b|personal trainer|kisisel egitmen|ozel egitmen/i.test(textLower),\r\n  courses: /taekwondo|yuzme|jimnastik|kickboks|boks|kurs/i.test(textLower),\r\n  kese_kopuk: /kese.*kopuk|kopuk.*kese/i.test(textLower),\r\n  membership: /uyelik|uyel|fitness|spor.*salon|aylik|ferdi|aile.*uye/i.test(normalizedText)\r\n};\r\n\r\n// ============================================\r\n// KNOWLEDGE CONTEXT BUILDER (INTENT-DRIVEN)\r\n// ============================================\r\n\r\nlet knowledgeContext = '\\n\\n=== BILGILER (SADECE BUNLARI KULLAN, ASLA UYDURMA!) ===';\r\nconst addedSections = new Set();\r\n\r\nfunction addSection(key, content) {\r\n  if (!addedSections.has(key) && content) {\r\n    knowledgeContext += content;\r\n    addedSections.add(key);\r\n  }\r\n}\r\n\r\n// ============================================\r\n// INTENT ГѓВўГўв‚¬В Гўв‚¬в„ў KNOWLEDGE MAPPING (NO HARDCODING)\r\n// ============================================\r\n\r\nfor (const intent of detectedIntents) {\r\n  switch (intent) {\r\n    case 'faq':\r\n      if (knowledge.faq) {\r\n        let faqContent = '\\n\\nГѓВўГ‚ВќГўв‚¬Е“ SIKCA SORULAN SORULAR:';\r\n        Object.entries(knowledge.faq).forEach(([key, v]) => { faqContent += '\\nГѓВўГўвЂљВ¬Г‚Вў ' + v; });\r\n        addSection('faq', faqContent);\r\n      }\r\n      break;\r\n\r\n    case 'pricing':\r\n      // Add campaign\r\n      if (knowledge.pricing?.current_campaign) {\r\n        addSection('campaign', '\\n\\n' + knowledge.pricing.current_campaign);\r\n      }\r\n      \r\n      // Add pricing based on detected topics\r\n      if (detectedTopics.membership) {\r\n        if (knowledge.pricing?.membership_individual) {\r\n          addSection('membership_individual', '\\n\\nГѓВ°Г…ВёГ‚ВЏГўв‚¬В№ГѓВЇГ‚ВёГ‚ВЏ FERDI UYELIK:\\n' + knowledge.pricing.membership_individual);\r\n        }\r\n        if (knowledge.pricing?.membership_family) {\r\n          addSection('membership_family', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚ВЁГѓВўГўвЂљВ¬Г‚ВЌГѓВ°Г…ВёГўв‚¬ЛњГ‚В©ГѓВўГўвЂљВ¬Г‚ВЌГѓВ°Г…ВёГўв‚¬ЛњГ‚В§ AILE UYELIGI:\\n' + knowledge.pricing.membership_family);\r\n        }\r\n      } else if (detectedTopics.pilates) {\r\n        if (knowledge.pricing?.reformer_pilates) {\r\n          addSection('pilates_pricing', '\\n\\nГѓВ°Г…ВёГ‚В§Г‹Е“ PILATES FIYAT:\\n' + knowledge.pricing.reformer_pilates);\r\n        }\r\n      } else if (detectedTopics.pt) {\r\n        if (knowledge.pricing?.pt_pricing) {\r\n          addSection('pt_pricing', '\\n\\n' + knowledge.pricing.pt_pricing);\r\n        }\r\n      } else if (detectedTopics.courses) {\r\n        if (knowledge.pricing?.courses_kids) {\r\n          addSection('courses_kids_pricing', '\\n\\nГѓВ°Г…ВёГўв‚¬в„ўГ‚В° KURS FIYATLARI:\\n' + knowledge.pricing.courses_kids);\r\n        }\r\n        if (knowledge.pricing?.courses_women) {\r\n          addSection('courses_women_pricing', '\\nГѓВ°Г…ВёГўв‚¬в„ўГ‚В° ' + knowledge.pricing.courses_women);\r\n        }\r\n      } else {\r\n        // Default: massage pricing\r\n        if (knowledge.pricing?.spa_massage) {\r\n          addSection('spa_massage', '\\n\\n' + knowledge.pricing.spa_massage);\r\n        }\r\n        if (knowledge.pricing?.other_massage_programs) {\r\n          addSection('other_massage_programs', '\\n\\n' + knowledge.pricing.other_massage_programs);\r\n        }\r\n      }\r\n      break;\r\n\r\n    case 'membership':\r\n      if (knowledge.pricing?.membership_individual) {\r\n        addSection('membership_individual', '\\n\\nГѓВ°Г…ВёГ‚ВЏГўв‚¬В№ГѓВЇГ‚ВёГ‚ВЏ FERDI UYELIK:\\n' + knowledge.pricing.membership_individual);\r\n      }\r\n      if (knowledge.pricing?.membership_family) {\r\n        addSection('membership_family', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚ВЁГѓВўГўвЂљВ¬Г‚ВЌГѓВ°Г…ВёГўв‚¬ЛњГ‚В©ГѓВўГўвЂљВ¬Г‚ВЌГѓВ°Г…ВёГўв‚¬ЛњГ‚В§ AILE UYELIGI:\\n' + knowledge.pricing.membership_family);\r\n      }\r\n      if (knowledge.services?.facility_overview) {\r\n        addSection('facility', '\\n\\nГѓВ°Г…ВёГ‚ВЏГ‚Вў TESIS:\\n' + knowledge.services.facility_overview);\r\n      }\r\n      if (knowledge.services?.membership_includes) {\r\n        addSection('membership_includes', '\\n\\nГѓВўГ…вЂњГўв‚¬В¦ TESIS KULLANIMI:\\n' + knowledge.services.membership_includes);\r\n      }\r\n      // Add pilates if mentioned\r\n      if (detectedTopics.pilates && knowledge.pricing?.reformer_pilates) {\r\n        addSection('pilates_pricing', '\\n\\nГѓВ°Г…ВёГ‚В§Г‹Е“ PILATES FIYAT:\\n' + knowledge.pricing.reformer_pilates);\r\n      }\r\n      break;\r\n\r\n    case 'hours':\r\n      let hoursContent = '\\n\\nГѓВ°Г…ВёГўв‚¬ВўГ‚Вђ SAATLER:';\r\n      if (knowledge.hours?.spa_working_hours) {\r\n        hoursContent += '\\nГѓВўГўвЂљВ¬Г‚Вў SPA: ' + knowledge.hours.spa_working_hours;\r\n      }\r\n      if (knowledge.hours?.facility_working_hours) {\r\n        hoursContent += '\\nГѓВўГўвЂљВ¬Г‚Вў SPOR: ' + knowledge.hours.facility_working_hours;\r\n      }\r\n      addSection('hours', hoursContent);\r\n      \r\n      // Add course schedules if courses mentioned\r\n      if (detectedTopics.courses) {\r\n        if (knowledge.hours?.taekwondo_schedule) addSection('taekwondo_schedule', '\\n\\nГѓВ°Г…ВёГ‚ВҐГўв‚¬В№ ' + knowledge.hours.taekwondo_schedule);\r\n        if (knowledge.hours?.kickboxing_schedule) addSection('kickboxing_schedule', '\\nГѓВ°Г…ВёГ‚ВҐГ…В  ' + knowledge.hours.kickboxing_schedule);\r\n        if (knowledge.hours?.gymnastics_schedule) addSection('gymnastics_schedule', '\\nГѓВ°Г…ВёГ‚В¤Г‚Вё ' + knowledge.hours.gymnastics_schedule);\r\n        if (knowledge.hours?.swim_kids_schedule) addSection('swim_kids_schedule', '\\nГѓВ°Г…ВёГ‚ВЏГ…В  ' + knowledge.hours.swim_kids_schedule);\r\n        if (knowledge.hours?.swim_women_schedule) addSection('swim_women_schedule', '\\nГѓВ°Г…ВёГ‚ВЏГ…В ГѓВўГўвЂљВ¬Г‚ВЌГѓВўГўвЂћВўГўвЂљВ¬ГѓВЇГ‚ВёГ‚ВЏ ' + knowledge.hours.swim_women_schedule);\r\n      }\r\n      break;\r\n\r\n    case 'location':\r\n      if (knowledge.contact?.address) {\r\n        addSection('address', '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Г‚ВЌ ADRES: ' + knowledge.contact.address);\r\n      }\r\n      if (knowledge.contact?.phone) {\r\n        addSection('phone', '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Г…Вѕ ILETISIM: ' + knowledge.contact.phone);\r\n      }\r\n      break;\r\n\r\n    case 'services':\r\n      if (detectedTopics.massage) {\r\n        if (knowledge.services?.therapist_info) {\r\n          addSection('therapist', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚В©ГѓВўГўвЂљВ¬Г‚ВЌГѓВўГ…ВЎГўв‚¬ВўГѓВЇГ‚ВёГ‚ВЏ TERAPISTLER:\\n' + knowledge.services.therapist_info);\r\n        }\r\n        if (knowledge.services?.massage_programs) {\r\n          addSection('massage_programs', '\\n\\nГѓВ°Г…ВёГўв‚¬в„ўГўв‚¬В  MASAJ TURLERI:\\n' + knowledge.services.massage_programs);\r\n        }\r\n      } else if (detectedTopics.courses) {\r\n        if (knowledge.services?.courses_kids) {\r\n          addSection('courses_kids', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚В¶ COCUK KURSLARI:\\n' + knowledge.services.courses_kids);\r\n        }\r\n        if (knowledge.services?.courses_women) {\r\n          addSection('courses_women', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚В© KADIN KURSLARI:\\n' + knowledge.services.courses_women);\r\n        }\r\n      } else if (detectedTopics.pilates) {\r\n        if (knowledge.services?.reformer_pilates_details) {\r\n          addSection('pilates_details', '\\n\\nГѓВ°Г…ВёГ‚В§Г‹Е“ PILATES DETAY:\\n' + knowledge.services.reformer_pilates_details);\r\n        }\r\n      } else {\r\n        // General facility overview\r\n        if (knowledge.services?.facility_overview) {\r\n          addSection('facility', '\\n\\nГѓВ°Г…ВёГ‚ВЏГ‚Вў TESIS:\\n' + knowledge.services.facility_overview);\r\n        }\r\n      }\r\n      break;\r\n\r\n    case 'kids':\r\n      if (knowledge.services?.courses_kids) {\r\n        addSection('courses_kids', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚В¶ COCUK KURSLARI:\\n' + knowledge.services.courses_kids);\r\n      }\r\n      if (knowledge.services?.courses_women) {\r\n        addSection('courses_women', '\\n\\nГѓВ°Г…ВёГўв‚¬ЛњГ‚В© KADIN KURSLARI:\\n' + knowledge.services.courses_women);\r\n      }\r\n      if (knowledge.pricing?.courses_kids) {\r\n        addSection('courses_kids_pricing', '\\n\\nГѓВ°Г…ВёГўв‚¬в„ўГ‚В° KURS FIYATLARI:\\n' + knowledge.pricing.courses_kids);\r\n      }\r\n      if (knowledge.pricing?.courses_women) {\r\n        addSection('courses_women_pricing', '\\nГѓВ°Г…ВёГўв‚¬в„ўГ‚В° ' + knowledge.pricing.courses_women);\r\n      }\r\n      if (knowledge.policies?.age_groups) {\r\n        addSection('age_groups', '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Гўв‚¬В№ YAS GRUPLARI: ' + knowledge.policies.age_groups);\r\n      }\r\n      // Add schedules\r\n      if (knowledge.hours?.taekwondo_schedule) addSection('taekwondo_schedule', '\\n\\nГѓВ°Г…ВёГ‚ВҐГўв‚¬В№ ' + knowledge.hours.taekwondo_schedule);\r\n      if (knowledge.hours?.kickboxing_schedule) addSection('kickboxing_schedule', '\\nГѓВ°Г…ВёГ‚ВҐГ…В  ' + knowledge.hours.kickboxing_schedule);\r\n      if (knowledge.hours?.gymnastics_schedule) addSection('gymnastics_schedule', '\\nГѓВ°Г…ВёГ‚В¤Г‚Вё ' + knowledge.hours.gymnastics_schedule);\r\n      if (knowledge.hours?.swim_kids_schedule) addSection('swim_kids_schedule', '\\nГѓВ°Г…ВёГ‚ВЏГ…В  ' + knowledge.hours.swim_kids_schedule);\r\n      if (knowledge.hours?.swim_women_schedule) addSection('swim_women_schedule', '\\nГѓВ°Г…ВёГ‚ВЏГ…В ГѓВўГўвЂљВ¬Г‚ВЌГѓВўГўвЂћВўГўвЂљВ¬ГѓВЇГ‚ВёГ‚ВЏ ' + knowledge.hours.swim_women_schedule);\r\n      break;\r\n\r\n    case 'policies':\r\n      if (knowledge.policies) {\r\n        let policiesContent = '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Гўв‚¬В№ KURALLAR:';\r\n        Object.entries(knowledge.policies).forEach(([key, v]) => {\r\n          if (key !== 'legitimate_services' && key !== 'rejection_prompt') {\r\n            policiesContent += '\\nГѓВўГўвЂљВ¬Г‚Вў ' + v;\r\n          }\r\n        });\r\n        addSection('policies', policiesContent);\r\n      }\r\n      break;\r\n\r\n    case 'booking':\r\n      if (knowledge.contact?.phone) {\r\n        addSection('phone', '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Г…Вѕ RANDEVU: ' + knowledge.contact.phone);\r\n      }\r\n      // Hours only added when 'hours' is in detectedIntents (handled by hours case)\r\n      break;\r\n\r\n    case 'general_info':\r\n      // Only for truly general questions or first message\r\n      if (isFirstMessage) {\r\n        if (knowledge.services?.facility_overview) {\r\n          addSection('facility', '\\n\\nГѓВ°Г…ВёГ‚ВЏГ‚Вў TESIS:\\n' + knowledge.services.facility_overview);\r\n        }\r\n        // Campaign pricing only added when 'pricing' is in detectedIntents (handled by pricing case)\r\n        if (knowledge.contact?.phone) {\r\n          addSection('phone', '\\n\\nГѓВ°Г…ВёГўв‚¬Е“Г…Вѕ RANDEVU: ' + knowledge.contact.phone);\r\n        }\r\n      }\r\n      break;\r\n  }\r\n}\r\n\r\n// ============================================\r\n// CLOSE KNOWLEDGE CONTEXT WITH ANTI-HALLUCINATION FENCE\r\n// ============================================\r\n\r\nknowledgeContext += '\\n\\n=== BILGILER SONU ===';\r\nknowledgeContext += '\\nГѓВ°Г…ВёГ…ВЎГ‚В« Yukaridaki bilgileri kullanarak cevap ver. Bilgi yoksa \"Bu konuda detayli bilgi icin lutfen bizi arayin\" de.';\r\nknowledgeContext += '\\nГѓВ°Г…ВёГ…ВЎГ‚В« Yukarida OLMAYAN hizmet, fiyat veya saat UYDURMA!';\r\n\r\n// ============================================\r\n// SYSTEM PROMPT & HINTS\r\n// ============================================\r\n\r\nlet systemPrompt = aiPrompt.systemMessage || 'Sen Eform Spor Merkezi musteri temsilcisisin.';\r\n\r\nif (isSuspicious) {\r\n  systemPrompt = 'Sen Eform Spor Merkezi musteri temsilcisisin. ONEMLI: Bu kullanici daha once uygunsuz mesaj gondermis. DIREKT ve KISA cevap ver. ASLA samimi olma. ASLA \"nasil yardimci olabilirim\", \"randevu ister misiniz\", \"baska soru var mi\" gibi sorular SORMA. Sadece sorulan soruya cevap ver ve BIT. Uygunsuz icerik algilasan HEMEN sert reddet.';\r\n}\r\n\r\nlet customerHint = '';\r\n\r\n// Multi-intent hint\r\nif (detectedIntents.length > 1) {\r\n  customerHint += '\\n\\nГѓВўГ…ВЎГ‚В ГѓВЇГ‚ВёГ‚ВЏ COKLU SORU! Kullanici ' + detectedIntents.length + ' farkli konu hakkinda soru soruyor: ' + detectedIntents.join(', ') + '. HER KONUYA cevap ver, hicbirini atlama!';\r\n}\r\n\r\n// Specific hints based on topics\r\nif (normalizedText.match(/ne getir|getirmem|getirmeli|yanima|yaninda/)) {\r\n  customerHint += '\\n\\nГѓВўГ…ВЎГ‚В ГѓВЇГ‚ВёГ‚ВЏ KRITIK: Kullanici masaga gelirken ne getirmesi gerektigini soruyor. MUTLAKA soyle: Havlu, terlik VE SORT tesiste ucretsiz saglanir. Tek kullanimlik sort secenegi de var. Havuz icin bone zorunlu.';\r\n}\r\n\r\nif (isFirstMessage && !isSuspicious) {\r\n  customerHint += '\\n\\nГѓВўГ…ВЎГ‚В ГѓВЇГ‚ВёГ‚ВЏ ILK MESAJ! Kendini tanit: \"Merhaba! Ben Eform Spor Merkezi dijital asistaniyim.\"';\r\n} else if (isSuspicious) {\r\n  customerHint += '\\n\\nГѓВўГ…ВЎГ‚В ГѓВЇГ‚ВёГ‚ВЏ SUPELI KULLANICI (ihlal: ' + offenseCount + '). Direkt cevap ver, samimi olma, ASLA soru sorma (randevu, yardim, vs). Sadece cevap ver ve BIT.';\r\n}\r\n\r\nconst legitimateServices = knowledge.policies?.legitimate_services || \r\n  'MIX masaj, Klasik masaj, SГѓвЂћГ‚В±cak taГѓвЂ¦Г…Вё masajГѓвЂћГ‚В±, Medikal masaj, Kese kГѓЖ’Г‚В¶pГѓЖ’Г‚Вјk, Hamam, Sauna, Buhar odasГѓвЂћГ‚В±, Fitness, Reformer Pilates, YГѓЖ’Г‚Вјzme kurslarГѓвЂћГ‚В±, Jimnastik, Taekwondo, Kickboks, Boks, Personal Trainer, Fizik tedavi';\r\n\r\nreturn [{ \r\n  json: { \r\n    senderId: parseData.senderId, \r\n    text: parseData.text, \r\n    startTime: parseData.startTime, \r\n    intent: primaryIntent,\r\n    detectedIntents: detectedIntents,\r\n    detectedTopics: Object.keys(detectedTopics).filter(k => detectedTopics[k]),\r\n    isFirstMessage, \r\n    isSuspicious, \r\n    offenseCount, \r\n    systemPrompt, \r\n    customerHint, \r\n    knowledgeContext, \r\n    legitimateServices, \r\n    isTestMode: parseData.isTestMode \r\n  } \r\n}];\r\n"
      },
      "id": "enrich-context",
      "name": "Enrich Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://spa-kiosk.local"
            },
            {
              "name": "X-Title",
              "value": "SPA Digital Kiosk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o', messages: [{ role: 'system', content: 'Sen bir guvenlik filtresisin. Mesajlari analiz et ve uygun olup olmadigini belirle.\\n\\nONEMLI: Bu bir SPA ve SPOR merkezidir. Asagidaki MEГѓЖ’Г†вЂ™ГѓВўГўвЂљВ¬Г‚В¦ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВѕRU hizmetler var:\\n- MIX masaj (7 farkli teknik, premium hizmet)\\n- Sicak tas masaj\\n- Medikal masaj\\n- Kese kopuk (geleneksel hamam hizmeti)\\n- Klasik masaj\\n- Hamam, sauna, buhar odasi\\n- Fitness, pilates, yuzme kurslari\\n\\nREJECT (reddet) - SADECE asagidaki durumlarda:\\n- Acik cinsel icerik: \"mutlu son\", \"happy ending\", \"mutlu\", \"sonu guzel\", \"sonu keyifli\", \"ekstra servis\", \"ozel masaj\", \"gizli hizmet\", \"VIP masaj\", \"full servis\", \"escort\", \"romantik masaj\", \"sevgili masaji\", \"partner masaji\"\\n- Cinsel ima: \"masaj sonrasi ne olur\", \"odada ne olur\", \"gece masaji\", \"keyifli masaj\"\\n- Personel bilgisi istekleri: \"terapist telefonu\", \"calisanin numarasi\", \"masajci kiz\"\\n- Taciz, tehdit, kufur\\n\\nALLOW (izin ver) - Asagidaki NORMAL sorular KESINLIKSE ALLOW:\\n- Fiyat sorulari: masaj fiyati, ucret, ne kadar, kac para, 60 dakika masaj ucret, gunluk giris\\n- Hizmet sorulari: kese kopuk, hamam, sauna, aromaterapi, sicak tas, terapist bilgi, MIX masaj, medikal masaj\\n- Masaj turleri: klasik masaj, sicak tas masaj, MIX masaj, medikal masaj, kese kopuk\\n- Saat sorulari: saat kacta, acik mi, kapali mi, yuzme saati\\n- Adres sorulari: nerede, adres, yer, konum\\n- Randevu talepleri\\n- Uyelik sorulari: fitness, pilates, gym, aile uyeligi\\n- Cocuk kurslari: yuzme, jimnastik, cocuk girebilir mi\\n- Genel sorular: merhaba, tesekkur, dahil mi, var mi, hakkinda\\n- Kisa takip sorulari: \"yer\", \"dahil mi\", \"var mi\", \"hakkinda bilgi\"\\n\\nKRITIK: \"ucret\", \"fiyat\", \"ne kadar\" gibi kelimeler NORMAL fiyat sorularidir - ALLOW!\\nKRITIK: \"MIX masaj\", \"sicak tas\", \"medikal masaj\" MEГѓЖ’Г†вЂ™ГѓВўГўвЂљВ¬Г‚В¦ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВѕRU hizmetlerdir - ALLOW!\\n\\nSadece \"ALLOW\" veya \"REJECT\" yaz.' }, { role: 'user', content: $json.text }], temperature: 0.05, max_tokens: 10 }) }}",
        "options": {
          "timeout": 3000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ai-safety-check",
      "name": "AI Safety Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OpenRouterAPI001",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Enrich Context').first().json;\nconst aiResponse = $input.first().json;\n\nlet safetyDecision = 'ALLOW';\nlet safetyReason = 'ai_approved';\n\nconst aiContent = aiResponse.choices?.[0]?.message?.content?.trim().toUpperCase();\n\nif (aiContent === 'REJECT') {\n  safetyDecision = 'REJECT';\n  safetyReason = 'ai_detected_inappropriate';\n} else if (!aiContent || aiResponse.error) {\n  // AI failed - fallback to keyword check for critical words\n  const text = enrichData.text.toLowerCase();\n  if (text.match(/mutlu|happy.*ending|cinsel|seks|sex/i)) {\n    safetyDecision = 'REJECT';\n    safetyReason = 'fallback_keyword_match';\n  }\n}\n\nreturn [{ json: { ...enrichData, safetyDecision, safetyReason } }];"
      },
      "id": "parse-safety",
      "name": "Parse Safety",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "reject",
                    "leftValue": "={{ $json.safetyDecision }}",
                    "rightValue": "REJECT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "allow",
                    "leftValue": "={{ $json.safetyDecision }}",
                    "rightValue": "ALLOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Allow"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "safety-router",
      "name": "Safety Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3000,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst knowledge = $('Fetch Knowledge').first().json || {};\n\n// Get rejection prompt from knowledge base or use default\nconst rejectionPrompt = knowledge.policies?.rejection_prompt || 'DIREKT ve SERT reddet. Kullaniciyi AZARLA. KISA cevap ver.';\n\n// Add HARSH denial instruction to system prompt\ndata.systemPrompt = data.systemPrompt + '\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚В°ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВёГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВЎГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚В« KRITIK UYARI: Bu kullanici uygunsuz/cinsel icerik istedi (' + data.safetyReason + ').\\n\\n' + rejectionPrompt;\n\ndata.customerHint = '\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚ВўГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВЎГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚В ГѓЖ’Г†вЂ™ГѓвЂљГ‚ВЇГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВёГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВЏ UYGUNSUZ TALEP! SERT VE KABA REDDET!';\n\nreturn [{ json: data }];"
      },
      "id": "prepare-denial",
      "name": "Prepare Denial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt + '\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚ВўГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВЎГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚В ГѓЖ’Г†вЂ™ГѓвЂљГ‚ВЇГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВёГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВЏ GUVENLIK KURALLARI:\\n- Cinsel ifadeleri ASLA onaylama\\n- Belirsiz \"son\" veya \"bitis\" sorularini olumlu cevaplama\\n- Sadece profesyonel spa hizmetleri hakkinda konus\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚В°ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВёГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВЏГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚Вў SIRKET ADI: \"Eform Spor Merkezi\" (ASLA \"Eform Spa\" deme!)\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚В°ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВёГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВЎГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚В« KRITIK: MESAJ SONUNA EK CUMLE EKLEME!\\n- \"Daha fazla bilgi almak isterseniz\" YAZMA!\\n- \"Randevu olusturmak isterseniz\" YAZMA!\\n- \"Yardimci olabilirim\" YAZMA!\\n- Cevabi ver ve SUS!' + $json.customerHint + '\\n\\nГѓЖ’Г†вЂ™ГѓвЂљГ‚В°ГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВёГѓЖ’Гўв‚¬В¦ГѓвЂљГ‚ВЎГѓЖ’Гўв‚¬ЕЎГѓвЂљГ‚ВЁ ASAGIDAKI BILGILER DISINDA HICBIR SEY SOYLEME! Bilgi yoksa \"detayli bilgi icin bizi arayin\" de. ASLA uydurma!' + $json.knowledgeContext }}",
          "maxIterations": 1
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3200,
        700
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {
          "temperature": 0.3,
          "maxTokens": 600
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3100,
        900
      ],
      "credentials": {
        "openRouterApi": {
          "id": "T1Xb3R0FOkV4vhAy",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'ig_' + $('Dev Filter').first().json.senderId }}",
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3250,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Parse Safety').first().json;\nconst aiOutput = $input.first().json;\nlet message = aiOutput.output || aiOutput.text || 'Bir hata olustu.';\n\nmessage = message.replace(/\\*\\*/g, '').replace(/\\*/g, '').replace(/\\n{3,}/g, '\\n\\n').trim().substring(0, 1000);\nconst responseTime = Date.now() - enrichData.startTime;\n\n// Flag user if this was a REJECT case\nconst shouldFlag = enrichData.safetyDecision === 'REJECT';\n\nreturn [{ json: { senderId: enrichData.senderId, message, intent: enrichData.intent, responseTime, originalText: enrichData.text, safetyDecision: enrichData.safetyDecision, safetyReason: enrichData.safetyReason, isSuspicious: enrichData.isSuspicious, isTestMode: enrichData.isTestMode, shouldFlag } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "test",
                    "leftValue": "={{ $json.isTestMode }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Test"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "ig",
                    "leftValue": "={{ $json.isTestMode }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "output-router",
      "name": "Output Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3600,
        600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "flag",
                    "leftValue": "={{ $json.shouldFlag }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Flag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "skip",
                    "leftValue": "={{ $json.shouldFlag }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "test-flag-router",
      "name": "Test Flag Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3800,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/flag/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reason: $json.safetyReason || 'inappropriate_content' }) }}",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "test-flag-http",
      "name": "Test Flag HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4000,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original data from Format Response\nconst formatData = $('Format Response').first().json;\nreturn [{ json: formatData }];"
      },
      "id": "test-merge-flag-result",
      "name": "Test Merge Flag Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', response: $json.message, intent: $json.intent, responseTime: $json.responseTime, originalMessage: $json.originalText, safetyDecision: $json.safetyDecision || 'N/A', isSuspicious: $json.isSuspicious || false, flagged: $json.shouldFlag || false }) }}"
      },
      "id": "test-response",
      "name": "Test Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4400,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841400730256913/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $json.senderId }, message: { text: $json.message } }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "send-ig",
      "name": "Send Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3800,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBp2vg2XlwgtEPNX",
          "name": "Instagram Business API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/instagram/interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instagramId: $json.senderId, direction: 'outbound', messageText: $json.message, intent: $json.intent, responseTime: $json.responseTime, safetyDecision: $json.safetyDecision || 'N/A' }) }}",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4000,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original data from Format Response (before Log Interaction)\nconst formatData = $('Format Response').first().json;\nreturn [{ json: formatData }];"
      },
      "id": "ig-merge-log-result",
      "name": "IG Merge Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        700
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "flag",
                    "leftValue": "={{ $json.shouldFlag }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Flag"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "skip",
                    "leftValue": "={{ $json.shouldFlag }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "flag-router",
      "name": "Flag Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4200,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3001/api/integrations/instagram/suspicious/flag/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reason: $json.safetyReason || 'inappropriate_content' }) }}",
        "options": {
          "timeout": 2000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "flag-suspicious-ig",
      "name": "Flag Suspicious IG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4400,
        650
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbEX2mtUQ8gX5t21",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "resp-ok",
      "name": "OK Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4600,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Instagram": {
      "main": [
        [
          {
            "node": "Parse Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Test": {
      "main": [
        [
          {
            "node": "Parse Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Instagram": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Test": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Dev Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Filter": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Verify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Service Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Service Status": {
      "main": [
        [
          {
            "node": "Check Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enabled": {
      "main": [
        [
          {
            "node": "Maintenance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maintenance Check": {
      "main": [
        [
          {
            "node": "Format Maintenance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Suspicious",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Suspicious": {
      "main": [
        [
          {
            "node": "Process Suspicious Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Suspicious Check": {
      "main": [
        [
          {
            "node": "Fetch Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Knowledge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Intent Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Maintenance": {
      "main": [
        [
          {
            "node": "Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Prompt": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AI Intent Detection": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Enrich Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Context": {
      "main": [
        [
          {
            "node": "AI Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Safety Check": {
      "main": [
        [
          {
            "node": "Parse Safety",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Safety": {
      "main": [
        [
          {
            "node": "Safety Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Router": {
      "main": [
        [
          {
            "node": "Prepare Denial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Denial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Router": {
      "main": [
        [
          {
            "node": "Test Flag Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Flag Router": {
      "main": [
        [
          {
            "node": "Test Flag HTTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Flag HTTP": {
      "main": [
        [
          {
            "node": "Test Merge Flag Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Merge Flag Result": {
      "main": [
        [
          {
            "node": "Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Interaction": {
      "main": [
        [
          {
            "node": "IG Merge Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Merge Log Result": {
      "main": [
        [
          {
            "node": "Flag Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Router": {
      "main": [
        [
          {
            "node": "Flag Suspicious IG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Suspicious IG": {
      "main": [
        [
          {
            "node": "OK Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
