n8n-workflows/workflows-v2/instagram-dual-ai.json
{
  "name": "Instagram Dual AI FAQ v2",
  "versionId": "instagram-safety-gate-v2-faq",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "instagram-spa-dynamic"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst startTime = Date.now();\n\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\nconst body = input.body || input;\n\nif (body.object !== 'instagram') {\n  return [{ json: { route: 'ignore', reason: 'not_instagram' } }];\n}\n\nconst entry = body.entry?.[0];\nif (!entry) return [{ json: { route: 'ignore', reason: 'no_entry' } }];\n\nconst messaging = entry.messaging?.[0];\nif (!messaging) return [{ json: { route: 'ignore', reason: 'no_messaging' } }];\n\nconst message = messaging.message;\nif (!message || !message.text) return [{ json: { route: 'ignore', reason: 'no_text_message' } }];\n\nif (message.is_echo === true) return [{ json: { route: 'ignore', reason: 'echo_message' } }];\n\nconst text = message.text.trim();\nif (text.match(/instagram\\.com|ig\\.me|instagr\\.am|https?:\\/\\//i)) {\n  return [{ json: { route: 'ignore', reason: 'ad_link' } }];\n}\n\nif (text.length < 3) {\n  return [{ json: { route: 'ignore', reason: 'too_short' } }];\n}\n\nconst senderId = messaging.sender?.id;\nif (!senderId) return [{ json: { route: 'ignore', reason: 'no_sender' } }];\n\nreturn [{ json: { route: 'process', senderId, text, messageId: message.mid, timestamp: messaging.timestamp, startTime } }];"
      },
      "id": "parse",
      "name": "Parse Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: input }];"
      },
      "id": "dev-filter",
      "name": "Dev Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Verify" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "p", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Process" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Ignore" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [800, 400]
    },
    { "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" }, "id": "resp-verify", "name": "Verify Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1050, 200] },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ignore", "name": "Ignore Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1050, 600] },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/services/instagram/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "check-service-status",
      "name": "Check Service Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 400],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const statusResponse = $input.first().json;\nconst parseData = $('Dev Filter').first().json;\n\nif (statusResponse.enabled === false) {\n  return [{ json: { route: 'maintenance', senderId: parseData.senderId, message: '🔧 Sistem bakımda.', startTime: parseData.startTime } }];\n}\n\nreturn [{ json: { ...parseData, serviceEnabled: true } }];"
      },
      "id": "check-enabled",
      "name": "Check Enabled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "m", "leftValue": "={{ $json.route }}", "rightValue": "maintenance", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Maintenance" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "c", "leftValue": "={{ $json.serviceEnabled }}", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Continue" }
          ]
        },
        "options": {}
      },
      "id": "maintenance-check",
      "name": "Maintenance Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { senderId: data.senderId, message: data.message, intent: 'maintenance', responseTime: Date.now() - data.startTime } }];"
      },
      "id": "fmt-maintenance",
      "name": "Format Maintenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/instagram/customer/{{ $json.senderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-customer",
      "name": "Fetch Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 450],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/knowledge/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-knowledge",
      "name": "Fetch Knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 550],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/ai/prompt/instagram-spa-assistant",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "fetch-prompt",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1650, 650]
    },
    {
      "parameters": { "mode": "append" },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1900, 500]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parseData = $('Check Enabled').first().json;\n\nlet customer = {}, knowledge = {}, aiPrompt = {};\nfor (const item of items) {\n  const json = item.json;\n  if (json.systemMessage) aiPrompt = json;\n  else if (json.isNewCustomer !== undefined || json.interactionCount !== undefined) customer = json;\n  else if (json.pricing || json.services || json.hours || json.contact || json.policies || json.faq) knowledge = json;\n}\n\nconst text = parseData.text.toLowerCase().trim();\nconst isNewCustomer = customer.isNewCustomer !== false;\nconst interactionCount = customer.interactionCount || 0;\nconst isFirstMessage = isNewCustomer || interactionCount <= 1;\n\n// KEYWORD-BASED INTENT DETECTION\nlet intent = 'general_info';\n\n// Normalize Turkish characters\nlet normalizedText = text\n  .replace(/ş/g, 's').replace(/Ş/g, 's')\n  .replace(/ı/g, 'i').replace(/İ/g, 'i')\n  .replace(/ğ/g, 'g').replace(/Ğ/g, 'g')\n  .replace(/ü/g, 'u').replace(/Ü/g, 'u')\n  .replace(/ö/g, 'o').replace(/Ö/g, 'o')\n  .replace(/ç/g, 'c').replace(/Ç/g, 'c');\n\n// Fix common misspellings\nnormalizedText = normalizedText\n  .replace(/teakwondo|tekvando|taekwando|tekvondo|tekwondo/gi, 'taekwondo')\n  .replace(/jimnastik|jimastik|cimnastik|gimnastik/gi, 'jimnastik')\n  .replace(/kickboks|kikboks|kickbox|kikbox|kick boks/gi, 'kickboks')\n  .replace(/pilates|pilatis|plates|pilat/gi, 'pilates')\n  .replace(/reformer|reformar|refromer/gi, 'reformer')\n  .replace(/yuzme|yüzme|yuzma|yuzm/gi, 'yuzme')\n  .replace(/masaj|massaj|masag|mazaj/gi, 'masaj')\n  .replace(/hamam|hammam|hamamm/gi, 'hamam')\n  .replace(/sauna|suana|sona/gi, 'sauna')\n  .replace(/fitness|fitnes|fittness|fitnıs/gi, 'fitness')\n  .replace(/uyelik|üyelik|uyelık|uyelig/gi, 'uyelik')\n  .replace(/fiyat|fıyat|fiyaat|fyat/gi, 'fiyat')\n  .replace(/randevu|randevü|randavu|randivu/gi, 'randevu');\n\nconst hasMembershipKeywords = normalizedText.match(/uyelik|member|abone|aylik|spor|gym|fitness|tesis/i);\nconst hasSpaKeywords = normalizedText.match(/masaj|spa|hamam|sauna/i);\n\n// FAQ DETECTION - Check for common FAQ questions FIRST\nconst faqPatterns = [\n  /kadin.*gun|kadinlar.*gun|bayan.*gun/i,\n  /kese.*kopuk|kopuk.*kese|kim.*yap/i,\n  /personal.*trainer|pt.*var|antrenor/i,\n  /yaninda.*getir|ne.*getir|havlu.*terlik/i,\n  /terapist.*yasal|belge.*var|sertifika/i,\n  /randevu.*nasil|nasil.*randevu|online.*rezervasyon/i,\n  /ileri.*tarih|yarin.*randevu|haftaya.*randevu/i\n];\n\nif (faqPatterns.some(p => normalizedText.match(p))) {\n  intent = 'faq';\n} else if (normalizedText.match(/pilates|reformer/i)) {\n  intent = 'membership';\n} else if (normalizedText.match(/uyelik|member|abone|spor.*fiyat|gym|fitness|tesis.*ucret|tesis.*fiyat/i)) {\n  intent = 'membership';\n} else if (normalizedText.match(/yas.*sinir|yas.*limit|sinir.*yas|kural|policy|izin|yasak|kac yas|yas icin/i)) {\n  intent = 'policies';\n} else if (normalizedText.match(/cocuk.*kurs|jimnastik|taekwondo|yuzme.*kurs|cocuk.*ders|kickboks|boks/i)) {\n  intent = 'kids';\n} else if (normalizedText.match(/fiyat|ucret|ne kadar|kac para|kac lira|kac tl/i)) {\n  intent = hasMembershipKeywords ? 'membership' : 'pricing';\n} else if (normalizedText.match(/saat|acik|kapali|calisma|ne zaman|pazar/i)) {\n  intent = 'hours';\n} else if (normalizedText.match(/bilgi|bilgi al|bilgi ist|ogrenmek|merak|merhaba|selam|hey|hi|hello/i)) {\n  intent = 'general_info';\n} else if (normalizedText.match(/adres|nerede|neresin|konum|nasil gel|yer.*nere|nere.*yer|iskenderun/i)) {\n  intent = 'location';\n} else if (normalizedText.match(/randevu|rezervasyon|yer ayirt/i)) {\n  intent = 'booking';\n} else if (normalizedText.match(/masaj|spa|hamam|sauna|havuz|hizmet/i)) {\n  intent = 'services';\n} else if (normalizedText.match(/tesekkur|sagol|thanks|eyv/i)) {\n  intent = 'thanks';\n}\n\n// BUILD KNOWLEDGE CONTEXT\nlet knowledgeContext = '\\n\\n=== BILGILER (SADECE BUNLARI KULLAN, ASLA UYDURMA!) ===';\n\n// FAQ CONTEXT - Include FAQ entries when intent is faq or policies\nif ((intent === 'faq' || intent === 'policies') && knowledge.faq) {\n  knowledgeContext += '\\n\\n❓ SIKCA SORULAN SORULAR:';\n  Object.entries(knowledge.faq).forEach(([key, v]) => { knowledgeContext += '\\n• ' + v; });\n}\n\nif (intent === 'policies' && knowledge.policies) {\n  knowledgeContext += '\\n\\n📋 KURALLAR VE POLITIKALAR:';\n  Object.entries(knowledge.policies).forEach(([key, v]) => { knowledgeContext += '\\n• ' + v; });\n}\n\nif (intent === 'general_info' || (intent === 'pricing' && !hasMembershipKeywords) || isFirstMessage) {\n  if (knowledge.pricing?.current_campaign) knowledgeContext += '\\n\\n🔥 KAMPANYA:\\n' + knowledge.pricing.current_campaign;\n  if (knowledge.pricing?.group_discount) knowledgeContext += '\\n🎁 ' + knowledge.pricing.group_discount;\n  if (knowledge.services?.massage_programs) knowledgeContext += '\\n\\n💆 MASAJ FIYATLARI:\\n' + knowledge.services.massage_programs;\n}\n\nif (intent === 'services' || intent === 'general_info') {\n  if (knowledge.services?.special_massage_programs) knowledgeContext += '\\n\\n⭐ OZEL MASAJLAR:\\n' + knowledge.services.special_massage_programs;\n  if (knowledge.services?.facility_overview) knowledgeContext += '\\n\\n🏢 TESIS:\\n' + knowledge.services.facility_overview;\n}\n\nif (intent === 'membership') {\n  knowledgeContext += '\\n\\n🏋️ FITNESS VE TESIS UYELIK UCRETLERI:';\n  if (knowledge.pricing?.membership_individual) knowledgeContext += '\\n\\n👤 FERDI UYELIK:\\n' + knowledge.pricing.membership_individual;\n  if (knowledge.pricing?.membership_family) knowledgeContext += '\\n\\n👨‍👩‍👧 AILE UYELIGI:\\n' + knowledge.pricing.membership_family;\n  if (knowledge.pricing?.reformer_pilates) knowledgeContext += '\\n\\n🧘 REFORMER PILATES:\\n' + knowledge.pricing.reformer_pilates;\n  if (knowledge.pricing?.daily_facility) knowledgeContext += '\\n\\n📅 GUNLUK KULLANIM:\\n' + knowledge.pricing.daily_facility;\n  if (knowledge.pricing?.pt_12_saat) knowledgeContext += '\\n\\n🏃 PERSONAL TRAINER:\\n' + knowledge.pricing.pt_12_saat + '\\n' + (knowledge.pricing.pt_24_saat || '') + '\\n' + (knowledge.pricing.pt_36_saat || '');\n  if (knowledge.services?.facility_overview) knowledgeContext += '\\n\\n🏢 TESIS BILGISI:\\n' + knowledge.services.facility_overview;\n}\n\nif (intent === 'hours' || intent === 'booking') {\n  knowledgeContext += '\\n\\n🕐 CALISMA SAATLERI:';\n  if (knowledge.hours?.spa_working_hours) knowledgeContext += '\\n• SPA/MASAJ: ' + knowledge.hours.spa_working_hours;\n  if (knowledge.hours?.facility_working_hours) knowledgeContext += '\\n• SPOR SALONU: ' + knowledge.hours.facility_working_hours;\n  else if (hasMembershipKeywords || normalizedText.match(/spor|fitness|gym|tesis/i)) knowledgeContext += '\\n• SPOR SALONU: Detayli bilgi icin resepsiyonu arayin.';\n  if (normalizedText.match(/kurs|ders|cocuk|jimnastik|taekwondo|yuzme|kickboks/i) && knowledge.hours) {\n    knowledgeContext += '\\n\\n📚 KURS PROGRAMLARI:';\n    Object.entries(knowledge.hours).forEach(([key, v]) => { if (key.includes('schedule')) knowledgeContext += '\\n• ' + v; });\n  }\n}\n\nif (intent === 'location' || intent === 'booking' || intent === 'general_info') {\n  if (knowledge.contact?.phone) knowledgeContext += '\\n\\n📞 RANDEVU: ' + knowledge.contact.phone;\n  if (knowledge.contact?.address && intent === 'location') knowledgeContext += '\\n📍 ADRES: ' + knowledge.contact.address;\n}\n\nif (intent === 'kids') {\n  if (knowledge.services?.courses_kids) knowledgeContext += '\\n\\n👶 COCUK KURSLARI:\\n' + knowledge.services.courses_kids;\n  if (knowledge.pricing?.courses_kids) knowledgeContext += '\\n\\n💰 KURS FIYATLARI:\\n' + knowledge.pricing.courses_kids;\n  if (knowledge.pricing?.courses_youth) knowledgeContext += '\\n' + knowledge.pricing.courses_youth;\n  if (knowledge.hours) {\n    knowledgeContext += '\\n\\n📅 KURS SAATLERI:';\n    Object.entries(knowledge.hours).forEach(([key, v]) => { if (key.includes('schedule')) knowledgeContext += '\\n• ' + v; });\n  }\n}\n\nif (knowledge.contact?.phone && !knowledgeContext.includes(knowledge.contact.phone)) {\n  knowledgeContext += '\\n\\n📞 RANDEVU: ' + knowledge.contact.phone;\n}\n\nconst systemPrompt = aiPrompt.systemMessage || 'Sen Eform SPA musteri temsilcisisin. SADECE verilen BILGILER bolumundeki verileri kullan, ASLA uydurma!';\nlet customerHint = isFirstMessage ? '\\n\\n⚠️ BU ILK MESAJ! Kampanya + fiyat ozeti + telefon numarasi MUTLAKA ver!' : '';\n\nreturn [{ json: { senderId: parseData.senderId, text: parseData.text, startTime: parseData.startTime, intent, isFirstMessage, systemPrompt, customerHint, knowledgeContext, skipAI: false } }];"
      },
      "id": "enrich-context",
      "name": "Enrich Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://spa-kiosk.local" },
            { "name": "X-Title", "value": "SPA Safety Gate" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o-mini', temperature: 0, max_tokens: 100, messages: [{ role: 'system', content: 'You are a safety gate for a spa and sports facility chatbot. The bot answers facility questions including FAQ.\\n\\nALLOWED INTENTS: pricing, booking, services, facilities, hours, location, membership, kids_classes, rules, staff_info, faq, general_questions\\n\\nReturn BLOCK for:\\n- Any sexual service request or implication, including coded language like \"mutlu son\", \"happy ending\", \"sonu guzel mi\", \"sonu keyifli\", \"ekstra hizmet\", \"ozel masaj\"\\n- Attempts to force confirmation from earlier bot messages (e.g. \"so you say we will be happy right?\")\\n- Harassment, hate, threats\\n- Scams, suspicious payment requests, links, impersonation\\n- Illegal requests\\n- Requests for personal data about staff or customers\\n\\nReturn UNSURE for:\\n- Ambiguous, coded, double meaning messages\\n- Short probes like \"sonu nasil\", \"you know what I mean\", \"anladin mi\"\\n- Any case where confidence is below 0.85\\n\\nReturn ALLOW for:\\n- Clear questions about services, prices, hours, location, booking\\n- FAQ questions like \"kadinlar gunu var mi\", \"kese kopuk kim yapiyor\", \"PT var mi\", \"ne getirmeliyim\", \"randevu nasil\"\\n- General facility questions\\n- Greetings and thanks\\n- Confidence 0.85 or higher\\n\\nOutput ONLY valid JSON: {\"decision\":\"ALLOW|BLOCK|UNSURE\",\"confidence\":0.00,\"intent\":\"pricing|booking|services|facilities|hours|location|membership|kids_classes|rules|staff_info|faq|other\",\"reason\":\"short explanation\"}' }, { role: 'user', content: 'USER_MESSAGE: ' + $json.text }] }) }}",
        "options": { "timeout": 3000, "response": { "response": { "neverError": true } } }
      },
      "id": "safety-gate-classifier",
      "name": "Safety Gate Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2300, 500],
      "credentials": { "httpHeaderAuth": { "id": "openrouter-header-auth", "name": "OpenRouter Header Auth" } }
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Enrich Context').first().json;\nconst classifierResponse = $input.first().json;\n\nlet decision = 'UNSURE';\nlet confidence = 0;\nlet classifierIntent = 'other';\nlet reason = 'parse_failed';\n\ntry {\n  const content = classifierResponse?.choices?.[0]?.message?.content || '';\n  // Try to extract JSON from response\n  const jsonMatch = content.match(/\\{[^}]+\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    decision = (parsed.decision || 'UNSURE').toUpperCase();\n    confidence = parseFloat(parsed.confidence) || 0;\n    classifierIntent = parsed.intent || 'other';\n    reason = parsed.reason || 'no_reason';\n  }\n} catch (e) {\n  // JSON parse failed - default to UNSURE\n  decision = 'UNSURE';\n  confidence = 0;\n  reason = 'json_parse_error: ' + e.message;\n}\n\n// HARD RULE: Only ALLOW when confidence >= 0.85\nif (decision === 'ALLOW' && confidence < 0.85) {\n  decision = 'UNSURE';\n  reason = 'confidence_below_threshold';\n}\n\n// OVERRIDE: If our intent detection found FAQ, force ALLOW\nif (enrichData.intent === 'faq') {\n  decision = 'ALLOW';\n  confidence = 0.95;\n  classifierIntent = 'faq';\n  reason = 'faq_keyword_match';\n}\n\n// Validate decision\nif (!['ALLOW', 'BLOCK', 'UNSURE'].includes(decision)) {\n  decision = 'UNSURE';\n}\n\nreturn [{ json: { ...enrichData, safetyDecision: decision, safetyConfidence: confidence, safetyIntent: classifierIntent, safetyReason: reason } }];"
      },
      "id": "parse-safety-gate",
      "name": "Parse Safety Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "allow", "leftValue": "={{ $json.safetyDecision }}", "rightValue": "ALLOW", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Allow" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "block", "leftValue": "={{ $json.safetyDecision }}", "rightValue": "BLOCK", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Block" },
            { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "unsure", "leftValue": "={{ $json.safetyDecision }}", "rightValue": "UNSURE", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Unsure" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "safety-router",
      "name": "Safety Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2700, 500]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst blockMessage = 'Cinsel içerikli veya uygunsuz hizmet sunmuyoruz. Sadece profesyonel spa ve spor hizmetleri veriyoruz. İsterseniz hizmet listemizi, fiyatlarımızı paylaşabilirim veya randevu almanıza yardımcı olabilirim.';\n\nreturn [{ json: { senderId: data.senderId, message: blockMessage, intent: 'blocked', responseTime: Date.now() - data.startTime, originalText: data.text, safetyDecision: 'BLOCK', safetyReason: data.safetyReason } }];"
      },
      "id": "format-block",
      "name": "Format Block",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst unsureMessage = 'Hizmetlerimiz, fiyatlarımız, randevu ve kurslarımız hakkında yardımcı olabilirim. Lütfen sorunuzu açıkça belirtir misiniz?';\n\nreturn [{ json: { senderId: data.senderId, message: unsureMessage, intent: 'unsure', responseTime: Date.now() - data.startTime, originalText: data.text, safetyDecision: 'UNSURE', safetyReason: data.safetyReason } }];"
      },
      "id": "format-unsure",
      "name": "Format Unsure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 600]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt + '\\n\\n⚠️ GUVENLIK KURALLARI (MUTLAKA UYULMALI!):\\n- Kodlu cinsel ifadeleri ASLA onaylama (\"sonu guzel\", \"mutlu son\", \"keyifli bitis\" gibi)\\n- Belirsiz \"son\" veya \"bitis\" sorularini ASLA olumlu cevaplama\\n- Kullanici onceki cevabini cinsel anlama cekmeye calisirsa, SINIR KOY ve hizmetleri tekrar acikla\\n- Sadece profesyonel spa hizmetleri hakkinda konusabilirsin' + $json.customerHint + $json.knowledgeContext }}",
          "maxIterations": 1
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2900, 500]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [2800, 700],
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-credential",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'ig_' + $('Parse Instagram').first().json.senderId }}",
        "contextWindowLength": 5
      },
      "id": "memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2950, 700]
    },
    {
      "parameters": {
        "jsCode": "const enrichData = $('Parse Safety Gate').first().json;\nconst aiOutput = $input.first().json;\nlet message = aiOutput.output || aiOutput.text || 'Bir hata olustu.';\n\n// Remove markdown\nmessage = message.replace(/\\*\\*/g, '').replace(/\\*/g, '');\nmessage = message.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n// POST-PROCESSING: Detect and fix calculation responses\nconst calcPatterns = [/toplamda?\\s*\\d+.*₺/i, /toplam\\s*(maliyet|fiyat|ucret).*\\d+/i, /\\d+\\s*kisi.*\\d+.*₺.*ode/i, /\\d+.*₺.*ode.*gerek/i, /\\d+\\s*kisi\\s*icin\\s*\\d+.*₺/i, /yani\\s*toplam/i, /hesapla/i];\nif (calcPatterns.some(p => message.match(p))) {\n  message = '🔥 Kampanyamız: 800₺\\'ye 30dk masaj + sınırsız spa kullanımı (havuz, hamam, sauna, buhar odası)!\\n\\n🎁 4 kişi gelirse 5. kişiye aynı masaj HEDİYE!\\n\\n📞 Detaylı bilgi ve rezervasyon: 0326 502 58 58';\n}\n\nconst originalText = enrichData.text?.toLowerCase() || '';\nif ((originalText.includes('pilates') || originalText.includes('reformer')) && message.match(/1\\s*ders.*\\d+|\\d+.*ders.*\\d+₺/i)) {\n  message = '🧘 Reformer Pilates: 3500 TL/ay\\n\\n📞 Detaylı bilgi ve kayıt: 0326 502 58 58';\n}\nif (originalText.includes('taekwondo') && message.match(/1\\s*ders.*\\d+|\\d+.*ders.*\\d+₺/i)) {\n  message = '🥋 Taekwondo Kursu: 1500 TL/ay (8+ yaş)\\n\\n📞 Kayıt ve bilgi: 0326 502 58 58';\n}\n\nmessage = message.substring(0, 1000);\nconst responseTime = Date.now() - enrichData.startTime;\n\nreturn [{ json: { senderId: enrichData.senderId, message, intent: enrichData.intent, responseTime, originalText: enrichData.text, safetyDecision: enrichData.safetyDecision } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841400730256913/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: { id: $json.senderId }, message: { text: $json.message } }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "send-ig",
      "name": "Send Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3300, 500],
      "credentials": { "httpHeaderAuth": { "id": "instagram-business-api", "name": "Instagram Business API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/instagram/interaction",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instagramId: $json.senderId, direction: 'outbound', messageText: $json.message, intent: $json.intent, responseTime: $json.responseTime, safetyDecision: $json.safetyDecision || 'N/A' }) }}",
        "options": { "timeout": 2000, "response": { "response": { "neverError": true } } }
      },
      "id": "log",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3500, 500],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ok", "name": "OK Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [3700, 500] }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Instagram", "type": "main", "index": 0 }]] },
    "Parse Instagram": { "main": [[{ "node": "Dev Filter", "type": "main", "index": 0 }]] },
    "Dev Filter": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "Check Service Status", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Check Service Status": { "main": [[{ "node": "Check Enabled", "type": "main", "index": 0 }]] },
    "Check Enabled": { "main": [[{ "node": "Maintenance Check", "type": "main", "index": 0 }]] },
    "Maintenance Check": { "main": [
      [{ "node": "Format Maintenance", "type": "main", "index": 0 }],
      [{ "node": "Fetch Customer", "type": "main", "index": 0 }, { "node": "Fetch Knowledge", "type": "main", "index": 0 }, { "node": "Fetch Prompt", "type": "main", "index": 0 }]
    ]},
    "Format Maintenance": { "main": [[{ "node": "Send Instagram", "type": "main", "index": 0 }]] },
    "Fetch Customer": { "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]] },
    "Fetch Knowledge": { "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]] },
    "Fetch Prompt": { "main": [[{ "node": "Merge Data", "type": "main", "index": 2 }]] },
    "Merge Data": { "main": [[{ "node": "Enrich Context", "type": "main", "index": 0 }]] },
    "Enrich Context": { "main": [[{ "node": "Safety Gate Classifier", "type": "main", "index": 0 }]] },
    "Safety Gate Classifier": { "main": [[{ "node": "Parse Safety Gate", "type": "main", "index": 0 }]] },
    "Parse Safety Gate": { "main": [[{ "node": "Safety Router", "type": "main", "index": 0 }]] },
    "Safety Router": { "main": [
      [{ "node": "AI Agent", "type": "main", "index": 0 }],
      [{ "node": "Format Block", "type": "main", "index": 0 }],
      [{ "node": "Format Unsure", "type": "main", "index": 0 }]
    ]},
    "Format Block": { "main": [[{ "node": "Send Instagram", "type": "main", "index": 0 }]] },
    "Format Unsure": { "main": [[{ "node": "Send Instagram", "type": "main", "index": 0 }]] },
    "OpenRouter Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Chat Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Send Instagram", "type": "main", "index": 0 }]] },
    "Send Instagram": { "main": [[{ "node": "Log Interaction", "type": "main", "index": 0 }]] },
    "Log Interaction": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" }
}
