n8n-workflows/workflows-v2/whatsapp-ai-hybrid.json
{
  "name": "WhatsApp Kupon AI Hybrid v7",
  "versionId": "ai-hybrid-v8-pending-fix",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp", "responseMode": "responseNode", "options": {} },
      "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 400], "webhookId": "whatsapp-ai-agent"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input.query && input.query['hub.mode'] === 'subscribe') {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\nconst body = input.body || input;\nif (body.object !== 'whatsapp_business_account') return [{ json: { route: 'ignore' } }];\nconst value = body.entry?.[0]?.changes?.[0]?.value;\nif (!value || (value.statuses && !value.messages)) return [{ json: { route: 'ignore' } }];\nconst messages = value.messages;\nif (!messages?.[0]?.text?.body) return [{ json: { route: 'ignore' } }];\nconst msg = messages[0];\nreturn [{ json: { route: 'process', phone: msg.from, text: msg.text.body.trim(), messageId: msg.id } }];"
      },
      "id": "parse", "name": "Parse", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 400]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Verify" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "p", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Process" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Ignore" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router", "name": "Router", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [600, 400]
    },
    { "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" }, "id": "resp-verify", "name": "Verify Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 200] },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ignore", "name": "Ignore Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 600] },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Sen bir mesaj siniflandirici asistanisin. Kullanicinin mesajini analiz et ve sadece asagidaki kategorilerden birini dondur:\n\n- balance: Bakiye sorgusu (durum, bakiye, kac kuponum var)\n- coupon: Kupon kodu gonderimi (KUPON XXX veya 8+ karakterli kod)\n- claim: Kupon kullanma istegi (kupon kullan, kullan, hediye)\n- help: Yardim istegi (yardim, nasil, bilgi)\n- other: Diger mesajlar\n\nSADECE kategori adini yaz, baska bir sey yazma. Ornek: balance"
        }
      },
      "id": "ai-classifier", "name": "AI Classifier", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [850, 400]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list" },
        "options": { "temperature": 0.1 }
      },
      "id": "gemini-model", "name": "Gemini Model", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [650, 550],
      "credentials": { "googlePalmApi": { "id": "8vCTje6QjWsq6I98", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst parseData = $('Parse').first().json;\nconst aiOutput = (input.output || input.text || 'other').toLowerCase().trim();\n\n// Extract intent\nlet intent = 'other';\nif (aiOutput.includes('balance')) intent = 'balance';\nelse if (aiOutput.includes('coupon')) intent = 'coupon';\nelse if (aiOutput.includes('claim')) intent = 'claim';\nelse if (aiOutput.includes('help')) intent = 'help';\n\n// Extract coupon code if present\nlet couponCode = null;\nconst text = parseData.text || '';\nconst couponMatch = text.match(/kupon\\s+([a-zA-Z0-9]{8,})/i) || text.match(/^([a-zA-Z0-9]{8,})$/i);\nif (couponMatch) couponCode = couponMatch[1];\n\nreturn [{ json: { intent, phone: parseData.phone, text: parseData.text, couponCode } }];"
      },
      "id": "process-intent", "name": "Process Intent", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1050, 400]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "b", "leftValue": "={{ $json.intent }}", "rightValue": "balance", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Balance" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "c", "leftValue": "={{ $json.intent }}", "rightValue": "coupon", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Coupon" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "cl", "leftValue": "={{ $json.intent }}", "rightValue": "claim", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Claim" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "h", "leftValue": "={{ $json.intent }}", "rightValue": "help", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Help" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "intent-router", "name": "Intent Router", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/coupons/wallet/{{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-balance", "name": "API Balance", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1450, 200],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/consume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, token: $json.couponCode }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-coupon", "name": "API Coupon", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1450, 350],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/claim",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-claim", "name": "API Claim", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1450, 500],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone || $('Process Intent').first().json.phone;\nreturn [{ json: { phone, message: '🎫 Kupon Sistemi Yardim\\n\\n📌 Nasil Calisir:\\n• Her masaj = 1 kupon\\n• 4 kupon = 1 ucretsiz masaj\\n\\n📱 Komutlar:\\n• DURUM - Bakiye sorgula\\n• KUPON <KOD> - Kupon ekle\\n• KUPON KULLAN - Hediye al\\n\\n❓ Sorulariniz icin: YARDIM' } }];"
      },
      "id": "help-response", "name": "Help Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1450, 650]
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone || $('Process Intent').first().json.phone;\nreturn [{ json: { phone, message: '🤔 Anlamadim. Lutfen su komutlardan birini deneyin:\\n\\n• DURUM - Bakiye sorgula\\n• KUPON <KOD> - Kupon ekle\\n• KUPON KULLAN - Hediye al\\n• YARDIM - Bilgi al' } }];"
      },
      "id": "other-response", "name": "Other Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1450, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet phone = input.phone;\nlet message = '';\n\n// Try to get phone from Process Intent if not in current input\nif (!phone) {\n  try { phone = $('Process Intent').first().json.phone; } catch(e) {}\n}\n\n// Format response based on API result\nif (input.error) {\n  const code = input.error.code || 'ERROR';\n  if (code === 'WALLET_NOT_FOUND') message = '📊 Henuz kupon hesabiniz yok. Ilk kuponunuzu ekleyin!';\n  else if (code === 'INVALID_TOKEN') message = '❌ Gecersiz kupon kodu. Lutfen kontrol edin.';\n  else if (code === 'ALREADY_USED') message = '❌ Bu kupon zaten kullanilmis.';\n  else if (code === 'TOKEN_EXPIRED') message = '❌ Kupon suresi dolmus.';\n  else if (code === 'INSUFFICIENT_COUPONS') message = `📊 Yeterli kuponunuz yok. Mevcut: ${input.error.balance || 0}/4`;\n  else message = '❌ Bir hata olustu: ' + (input.error.message || code);\n} else if (input.couponCount !== undefined) {\n  // Balance response\n  const count = input.couponCount || 0;\n  const needed = 4 - count;\n  message = `📊 Kupon Bakiyeniz\\n\\n🎫 Mevcut: ${count}/4 kupon\\n${needed > 0 ? `📍 ${needed} kupon daha = ucretsiz masaj!` : '🎉 Ucretsiz masaj hakkiniz var!'}`;\n} else if (input.balance !== undefined) {\n  // Coupon added (balance field)\n  const count = input.balance || 0;\n  const needed = input.remainingToFree || (4 - count);\n  message = `✅ Kupon eklendi!\\n\\n🎫 Yeni bakiye: ${count}/4 kupon\\n${needed > 0 ? `📍 ${needed} kupon daha = ucretsiz masaj!` : '🎉 Ucretsiz masaj hakkiniz var!'}`;\n} else if (input.newBalance !== undefined) {\n  // Coupon added (newBalance field)\n  message = `✅ Kupon eklendi!\\n\\n🎫 Yeni bakiye: ${input.newBalance}/4 kupon`;\n} else if (input.redemptionId) {\n  // Claim success - check if new or existing pending\n  if (input.isNew === false) {\n    message = `⏳ Zaten bekleyen bir kullanim talebiniz var!\\n\\n🎫 Kod: ${input.redemptionId}\\nResepsiyona bu kodu gosterin. Onaylandiktan sonra yeni kupon toplayabilirsiniz.`;\n  } else {\n    message = `🎉 Tebrikler! Ucretsiz masaj hakkiniz kullanildi.\\n\\n🎫 Kod: ${input.redemptionId}\\nResepsiyona bu kodu gosterin.`;\n  }\n} else {\n  message = JSON.stringify(input);\n}\n\nreturn [{ json: { phone, message } }];"
      },
      "id": "format-api-response", "name": "Format API Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/471153662739049/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.message } }) }}"
      },
      "id": "send-whatsapp", "name": "Send WhatsApp", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1850, 400],
      "credentials": { "httpHeaderAuth": { "id": "CigixqRw14bgeG1D", "name": "WhatsApp Business API" } }
    },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ok", "name": "OK Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [2050, 400] }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "AI Classifier", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Gemini Model": { "ai_languageModel": [[{ "node": "AI Classifier", "type": "ai_languageModel", "index": 0 }]] },
    "AI Classifier": { "main": [[{ "node": "Process Intent", "type": "main", "index": 0 }]] },
    "Process Intent": { "main": [[{ "node": "Intent Router", "type": "main", "index": 0 }]] },
    "Intent Router": { "main": [
      [{ "node": "API Balance", "type": "main", "index": 0 }],
      [{ "node": "API Coupon", "type": "main", "index": 0 }],
      [{ "node": "API Claim", "type": "main", "index": 0 }],
      [{ "node": "Help Response", "type": "main", "index": 0 }],
      [{ "node": "Other Response", "type": "main", "index": 0 }]
    ]},
    "API Balance": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "API Coupon": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "API Claim": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "Help Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Other Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Format API Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true }
}

