n8n-workflows/workflows-v2/whatsapp-holy-grail-v2.json
{
  "name": "WhatsApp SPA AI Agent - Holy Grail v2",
  "versionId": "holy-grail-v2",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp", "responseMode": "responseNode", "options": {} },
      "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 400], "webhookId": "whatsapp-holy-grail"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (input.query && input.query['hub.mode'] === 'subscribe') {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\nconst body = input.body || input;\nif (body.object !== 'whatsapp_business_account') {\n  return [{ json: { route: 'ignore', reason: 'not_whatsapp' } }];\n}\n\nconst value = body.entry?.[0]?.changes?.[0]?.value;\nif (!value || (value.statuses && !value.messages)) {\n  return [{ json: { route: 'ignore', reason: 'status_update' } }];\n}\n\nconst messages = value.messages;\nif (!messages?.[0]?.text?.body) {\n  return [{ json: { route: 'ignore', reason: 'no_text' } }];\n}\n\nconst msg = messages[0];\nconst phone = msg.from;\nconst text = msg.text.body.trim().toLowerCase();\nconst originalText = msg.text.body.trim();\n\n// Detect intent with keywords\nlet intent = 'general';\nlet couponCode = null;\n\n// Balance check\nif (/durum|bakiye|kac kupon|kuponum/.test(text)) {\n  intent = 'balance';\n}\n// Coupon add\nelse if (/kupon\\s+([a-zA-Z0-9]{8,})/i.test(originalText)) {\n  intent = 'coupon';\n  const match = originalText.match(/kupon\\s+([a-zA-Z0-9]{8,})/i);\n  couponCode = match[1].toUpperCase();\n}\n// Claim reward\nelse if (/kupon kullan|kullanmak|hediye|ucretsiz/.test(text)) {\n  intent = 'claim';\n}\n// Help\nelse if (/yardim|help|nasil|\\?/.test(text)) {\n  intent = 'help';\n}\n\nreturn [{ json: { route: 'process', intent, phone, text: originalText, couponCode } }];"
      },
      "id": "parse", "name": "Parse", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 400]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Verify" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "p", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Process" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Ignore" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router1", "name": "Router", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [600, 400]
    },
    { "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" }, "id": "resp-verify", "name": "Verify Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 150] },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ignore", "name": "Ignore Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 650] },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "b", "leftValue": "={{ $json.intent }}", "rightValue": "balance", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Balance" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "c", "leftValue": "={{ $json.intent }}", "rightValue": "coupon", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Coupon" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "cl", "leftValue": "={{ $json.intent }}", "rightValue": "claim", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Claim" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "h", "leftValue": "={{ $json.intent }}", "rightValue": "help", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Help" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "intent-router", "name": "Intent Router", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [850, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/coupons/wallet/{{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "api-balance", "name": "API Balance", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1100, 200],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/consume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, token: $json.couponCode }) }}",
        "options": {}
      },
      "id": "api-coupon", "name": "API Coupon", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1100, 350],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/claim",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone }) }}",
        "options": {}
      },
      "id": "api-claim", "name": "API Claim", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1100, 500],
      "credentials": { "httpHeaderAuth": { "id": "wbEX2mtUQ8gX5t21", "name": "Backend API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Parse').item.json.phone;\nreturn [{ json: { phone, message: '🎫 Kupon Sistemi Yardım\\n\\n📌 Nasıl Çalışır:\\n• Her masaj = 1 kupon\\n• 4 kupon = 1 ücretsiz masaj\\n\\n📱 Komutlar:\\n• DURUM - Bakiye sorgula\\n• KUPON <KOD> - Kupon ekle\\n• KUPON KULLAN - Hediye al\\n\\n💆 Masaj Çeşitleri:\\n• Bali Masajı (30-90dk)\\n• Kese + Köpük (30dk)\\n• Mix Masaj (70dk)\\n• Tai Masajı (60dk)\\n• Taş Masajı (60dk)' } }];"
      },
      "id": "help-response", "name": "Help Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 650]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Musteri sorusu: {{ $json.text }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Sen Eform SPA'nin WhatsApp asistanisin. Turkce cevap ver, kisa ve net ol, emoji kullan.\n\nSPA HIZMETLERI:\n- Bali Masaji: 30-90 dk, 750-1800 TL, derin rahatlama\n- Kese + Kopuk: 30 dk, 500 TL, Turk hamami\n- Mix Masaj: 70 dk, cesitli teknikler\n- Medikal Lokal: 30 dk, bel/boyun/sirt agrilari\n- Tai Masaji: 60 dk, Tayland, esneklik\n- Tas Masaji: 60 dk, isitilmis taslar\n- Manuel Fizyoterapi: 60 dk, kas/eklem\n\nKUPON: 4 kupon = 1 ucretsiz masaj. DURUM yazarak bakiye, KUPON KULLAN yazarak kullanilir.\n\nAdres: Eform SPA, Istanbul\nTel: 0212 XXX XX XX"
        }
      },
      "id": "ai-general", "name": "AI General", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [1100, 800]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list" },
        "options": { "temperature": 0.7 }
      },
      "id": "gemini", "name": "Gemini", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [900, 900],
      "credentials": { "googlePalmApi": { "id": "8vCTje6QjWsq6I98", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse').item.json.phone }}"
      },
      "id": "memory", "name": "Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [1000, 900]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst phone = $('Parse').item.json.phone;\nlet message = '';\n\nif (input.error) {\n  const code = input.error.code || 'ERROR';\n  if (code === 'WALLET_NOT_FOUND') message = '📊 Henüz kupon hesabınız yok. İlk kuponunuzu ekleyin!';\n  else if (code === 'INVALID_TOKEN') message = '❌ Geçersiz kupon kodu. Lütfen kontrol edin.';\n  else if (code === 'TOKEN_ALREADY_USED') message = '❌ Bu kupon zaten kullanılmış.';\n  else if (code === 'TOKEN_EXPIRED') message = '❌ Kupon süresi dolmuş.';\n  else if (code === 'INSUFFICIENT_COUPONS') message = `📊 Yeterli kuponunuz yok. Mevcut: ${input.error.balance || 0}/4`;\n  else message = '❌ Bir hata oluştu: ' + (input.error.message || code);\n} else if (input.couponCount !== undefined) {\n  const count = input.couponCount || 0;\n  const needed = 4 - count;\n  message = `📊 Kupon Bakiyeniz\\n\\n🎫 Mevcut: ${count}/4 kupon\\n${needed > 0 ? `📍 ${needed} kupon daha = ücretsiz masaj!` : '🎉 Ücretsiz masaj hakkınız var! KUPON KULLAN yazın.'}`;\n} else if (input.balance !== undefined) {\n  const count = input.balance || 0;\n  const needed = input.remainingToFree || (4 - count);\n  message = `✅ Kupon eklendi!\\n\\n🎫 Yeni bakiye: ${count}/4 kupon\\n${needed > 0 ? `📍 ${needed} kupon daha = ücretsiz masaj!` : '🎉 Ücretsiz masaj hakkınız var! KUPON KULLAN yazın.'}`;\n} else if (input.redemptionId) {\n  message = `🎉 Tebrikler! Ücretsiz masaj hakkınız kullanıldı.\\n\\n🎫 Kod: ${input.redemptionId}\\nResepsiyona bu kodu gösterin.`;\n} else {\n  message = '❌ Beklenmeyen yanıt: ' + JSON.stringify(input).substring(0, 100);\n}\n\nreturn [{ json: { phone, message } }];"
      },
      "id": "format-api", "name": "Format API Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1350, 350]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst phone = $('Parse').item.json.phone;\nlet message = input.output || input.text || 'Bir hata oluştu.';\nreturn [{ json: { phone, message } }];"
      },
      "id": "format-ai", "name": "Format AI Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1350, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/471153662739049/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.message } }) }}",
        "options": {}
      },
      "id": "send-whatsapp", "name": "Send WhatsApp", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1550, 400],
      "credentials": { "httpHeaderAuth": { "id": "CigixqRw14bgeG1D", "name": "WhatsApp Business API" } }
    },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ok", "name": "OK Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1750, 400] }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "Intent Router", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Intent Router": { "main": [
      [{ "node": "API Balance", "type": "main", "index": 0 }],
      [{ "node": "API Coupon", "type": "main", "index": 0 }],
      [{ "node": "API Claim", "type": "main", "index": 0 }],
      [{ "node": "Help Response", "type": "main", "index": 0 }],
      [{ "node": "AI General", "type": "main", "index": 0 }]
    ]},
    "Gemini": { "ai_languageModel": [[{ "node": "AI General", "type": "ai_languageModel", "index": 0 }]] },
    "Memory": { "ai_memory": [[{ "node": "AI General", "type": "ai_memory", "index": 0 }]] },
    "API Balance": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "API Coupon": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "API Claim": { "main": [[{ "node": "Format API Response", "type": "main", "index": 0 }]] },
    "Help Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "AI General": { "main": [[{ "node": "Format AI Response", "type": "main", "index": 0 }]] },
    "Format API Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Format AI Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all" }
}
