n8n-workflows/workflows-v2/whatsapp-final-v2.json
{
  "name": "WhatsApp Kupon Final v2",
  "versionId": "final-v6-pending-check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "whatsapp-final"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Verification check (GET request)\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\n// Parse webhook payload\nconst body = input.body || input;\nconst value = body?.entry?.[0]?.changes?.[0]?.value;\n\n// Ignore status updates (delivery receipts)\nif (value?.statuses) {\n  return [{ json: { route: 'ignore', reason: 'status_update' } }];\n}\n\n// Check for messages\nconst messages = value?.messages;\nif (!messages || !messages[0]) {\n  return [{ json: { route: 'ignore', reason: 'no_messages' } }];\n}\n\nconst msg = messages[0];\n\n// Only process text messages\nif (!msg.text || !msg.text.body) {\n  return [{ json: { route: 'ignore', reason: 'not_text' } }];\n}\n\nconst text = msg.text.body.trim();\nconst textLower = text.toLowerCase();\nconst phone = msg.from;\nlet token = null;\nlet route = 'ignore';\n\n// IMPORTANT: Check specific phrases BEFORE regex patterns!\n// Check claim commands first (before kupon regex catches 'kupon kullan')\nif (textLower === 'kupon kullan' || textLower === 'kullan' || textLower === 'claim' || textLower === 'redeem') {\n  route = 'claim';\n} else if (textLower === 'durum' || textLower === 'bakiye' || textLower === 'balance') {\n  route = 'balance';\n} else if (textLower === 'iptal' || textLower === 'dur' || textLower === 'stop') {\n  route = 'optout';\n} else if (textLower === 'yardim' || textLower === 'yardım' || textLower === 'help' || textLower === '?') {\n  route = 'help';\n} else {\n  // Now check for coupon token pattern (kupon <code>)\n  const kuponMatch = text.match(/^kupon\\s+([A-Za-z0-9]+)$/i);\n  if (kuponMatch) {\n    route = 'coupon';\n    token = kuponMatch[1].toUpperCase();\n  }\n}\n\nreturn [{ json: { route, phone, token, text } }];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "1", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "verify" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "2", "leftValue": "={{ $json.route }}", "rightValue": "coupon", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "coupon" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "3", "leftValue": "={{ $json.route }}", "rightValue": "balance", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "balance" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "4", "leftValue": "={{ $json.route }}", "rightValue": "claim", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "claim" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "5", "leftValue": "={{ $json.route }}", "rightValue": "help", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "help" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "" }, "conditions": [{ "id": "6", "leftValue": "={{ $json.route }}", "rightValue": "optout", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "optout" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" },
      "id": "resp-verify",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/consume",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $json.phone }}\",\"token\":\"{{ $json.token }}\"}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-coupon",
      "name": "API Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json,p=$('Parse').first().json.phone;\nlet msg=r.error?'❌ '+r.error.message:`✅ Kupon eklendi! Bakiye: ${r.balance||0}/4`;\nreturn [{json:{phone:p,message:msg}}];"
      },
      "id": "fmt-coupon",
      "name": "Fmt Coupon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/coupons/wallet/{{ encodeURIComponent($json.phone) }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=" }] },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-balance",
      "name": "API Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const r=$input.first().json,p=$('Parse').first().json.phone;\nlet msg=r.error?'📊 Henüz kuponunuz yok.':`📊 Bakiye: ${r.couponCount||0}/4`;\nreturn [{json:{phone:p,message:msg}}];"
      },
      "id": "fmt-balance",
      "name": "Fmt Balance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/claim",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $json.phone }}\"}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-claim",
      "name": "API Claim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst p = $('Parse').first().json.phone;\nconst err = r.error;\nlet msg;\n\nif (err) {\n  // Error case - insufficient coupons\n  const bal = err.balance || 0;\n  const needed = err.needed || (4 - bal);\n  const threshold = err.threshold || 4;\n  msg = `❌ Yeterli kupon yok.\\n📊 Mevcut: ${bal}/${threshold} kupon\\n📍 ${needed} kupon daha toplayin.`;\n} else if (r.ok && r.redemptionId) {\n  // Check if this is a NEW redemption or existing pending one\n  if (r.isNew === false) {\n    // Existing pending redemption - remind user they already have one\n    msg = `⏳ Zaten bekleyen bir kullanim talebiniz var!\\n🎫 Kod: ${r.redemptionId}\\n\\nResepsiyona bu kodu gosterin. Onaylandiktan sonra yeni kupon toplayabilirsiniz.`;\n  } else {\n    // New redemption created\n    msg = `🎉 Tebrikler! Ucretsiz masaj hakkiniz kullanildi.\\n🎫 Kod: ${r.redemptionId}\\nResepsiyona bu kodu gosterin.`;\n  }\n} else {\n  // Unexpected response\n  msg = '❌ Bir hata olustu. Lutfen tekrar deneyin.';\n}\n\nreturn [{ json: { phone: p, message: msg } }];"
      },
      "id": "fmt-claim",
      "name": "Fmt Claim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/integrations/coupons/policy",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=" }] },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "api-policy",
      "name": "API Policy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "const p=$('Parse').first().json.phone;\nconst policy=$input.first().json;\nconst threshold=policy.defaultRedemptionThreshold||4;\nconst tier=policy.rewardTiers?.[0];\nconst reward=tier?.nameTr||'Ucretsiz Masaj';\nreturn [{json:{phone:p,message:'Kupon Sistemi - ' + threshold + ' kupon = ' + reward + '. Komutlar: KUPON <KOD>, DURUM, KUPON KULLAN, IPTAL'}}];"
      },
      "id": "fmt-help",
      "name": "Fmt Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "jsCode": "const p=$('Parse').first().json.phone;\nreturn [{json:{phone:p,message:'✅ Bildirimler kapatıldı.'}}];"
      },
      "id": "fmt-optout",
      "name": "Fmt OptOut",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/471153662739049/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer EAASoZBpRZBYVgBQI9tq7dTqVxCtB5SIHUKYZBcnsdGxpcU5xmmivOno8AUvQhsFLD0TiBEX71aCYP6NldygAA36fzuZCKK7ZApU7LBGXQiUTR0SLEnZC4AxZAvc6UD7qtkQMXGhZAEzrS6fFvooEu7As0AuqUBBDkJpRomKU3lJ4fQ5l8LCbg2clZAN0vegcX185tegZDZD" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.phone }}\",\"text\":{\"body\":\"{{ $json.message }}\"}}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Send WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 350]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-ok",
      "name": "OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 350]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-ignore",
      "name": "Ignore",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 700]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Respond Verify", "type": "main", "index": 0 }],
      [{ "node": "API Coupon", "type": "main", "index": 0 }],
      [{ "node": "API Balance", "type": "main", "index": 0 }],
      [{ "node": "API Claim", "type": "main", "index": 0 }],
      [{ "node": "API Policy", "type": "main", "index": 0 }],
      [{ "node": "Fmt OptOut", "type": "main", "index": 0 }],
      [{ "node": "Ignore", "type": "main", "index": 0 }]
    ]},
    "API Coupon": { "main": [[{ "node": "Fmt Coupon", "type": "main", "index": 0 }]] },
    "Fmt Coupon": { "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]] },
    "API Balance": { "main": [[{ "node": "Fmt Balance", "type": "main", "index": 0 }]] },
    "Fmt Balance": { "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]] },
    "API Claim": { "main": [[{ "node": "Fmt Claim", "type": "main", "index": 0 }]] },
    "Fmt Claim": { "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]] },
    "API Policy": { "main": [[{ "node": "Fmt Help", "type": "main", "index": 0 }]] },
    "Fmt Help": { "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]] },
    "Fmt OptOut": { "main": [[{ "node": "Send WA", "type": "main", "index": 0 }]] },
    "Send WA": { "main": [[{ "node": "OK", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
