n8n-workflows/workflows-v2/whatsapp-ai-agent.json
{
  "name": "WhatsApp Kupon AI Agent",
  "versionId": "ai-agent-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "whatsapp-ai-agent"
    },
    {
      "parameters": {
        "jsCode": "// Parse WhatsApp webhook payload\nconst input = $input.first().json;\n\n// Webhook verification (GET request from Meta)\nif (input.query && input.query['hub.mode'] === 'subscribe' && input.query['hub.challenge']) {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\n// Parse message payload\nconst body = input.body || input;\nconst value = body?.entry?.[0]?.changes?.[0]?.value;\n\n// Ignore status updates (delivery receipts)\nif (value?.statuses) {\n  return [{ json: { route: 'ignore', reason: 'status_update' } }];\n}\n\n// Check for messages\nconst messages = value?.messages;\nif (!messages || !messages[0]) {\n  return [{ json: { route: 'ignore', reason: 'no_messages' } }];\n}\n\nconst msg = messages[0];\n\n// Only process text messages\nif (!msg.text || !msg.text.body) {\n  return [{ json: { route: 'ignore', reason: 'not_text' } }];\n}\n\nreturn [{ \n  json: { \n    route: 'process',\n    phone: msg.from,\n    text: msg.text.body.trim(),\n    messageId: msg.id\n  } \n}];"
      },
      "id": "parse",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [{ "id": "1", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "verify"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [{ "id": "2", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "process"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [600, 400]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" },
      "id": "resp-verify",
      "name": "Verify Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-ignore",
      "name": "Ignore Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 600]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Sen bir spa kupon sistemi asistanısın. Türkçe yanıt ver.\n\nMüşteri mesajını analiz et ve uygun aracı (tool) kullan:\n\n1. Kupon kodu gönderiyorsa (örn: 'KUPON ABC123' veya sadece 8+ karakterli kod) → add_coupon aracını kullan\n2. Bakiye soruyorsa (örn: 'durum', 'bakiye', 'kaç kuponum var') → check_balance aracını kullan  \n3. Kupon kullanmak istiyorsa (örn: 'kupon kullan', 'kullan', 'hediye masaj') → claim_reward aracını kullan\n4. Yardım istiyorsa (örn: 'yardım', 'nasıl', '?') → Yardım mesajı döndür\n5. İptal istiyorsa (örn: 'iptal', 'dur', 'stop') → Bildirim kapatma mesajı döndür\n\nKupon sistemi bilgileri:\n- Her masaj = 1 kupon\n- 4 kupon = 1 ücretsiz masaj\n- Kuponlar 24 saat geçerli\n\nYanıtlarında emoji kullan ve kısa tut."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [850, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 200
        }
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "name": "add_coupon",
        "description": "Müşterinin kupon kodunu sisteme ekler. Kupon kodu 8+ karakter olmalı.",
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/consume",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $fromAI('phone') }}\",\"token\":\"{{ $fromAI('token') }}\"}",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Müşteri telefon numarası", "type": "string" },
            { "name": "token", "description": "Kupon kodu (8+ karakter)", "type": "string" }
          ]
        }
      },
      "id": "tool-add-coupon",
      "name": "Add Coupon Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [750, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "name": "check_balance",
        "description": "Müşterinin kupon bakiyesini sorgular.",
        "method": "GET",
        "url": "=http://localhost:3001/api/integrations/coupons/wallet/{{ $fromAI('phone') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Müşteri telefon numarası", "type": "string" }
          ]
        }
      },
      "id": "tool-check-balance",
      "name": "Check Balance Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [900, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "name": "claim_reward",
        "description": "4 kupon karşılığında ücretsiz masaj hakkı kullanır.",
        "method": "POST",
        "url": "http://localhost:3001/api/integrations/coupons/claim",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $fromAI('phone') }}\"}",
        "placeholderDefinitions": {
          "values": [
            { "name": "phone", "description": "Müşteri telefon numarası", "type": "string" }
          ]
        }
      },
      "id": "tool-claim-reward",
      "name": "Claim Reward Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1050, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "backend-api",
          "name": "Backend API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format AI response for WhatsApp\nconst input = $input.first().json;\nconst phone = $('Parse Webhook').first().json.phone;\nconst aiOutput = input.output || input.text || 'Bir hata oluştu. Lütfen tekrar deneyin.';\n\nreturn [{ \n  json: { \n    phone: phone,\n    message: aiOutput\n  } \n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.phone }}\",\"text\":{\"body\":\"{{ $json.message }}\"}}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK" },
      "id": "resp-ok",
      "name": "OK Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Webhook", "type": "main", "index": 0 }]] },
    "Parse Webhook": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { 
      "main": [
        [{ "node": "Verify Response", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Ignore Response", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Add Coupon Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Check Balance Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Claim Reward Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
