n8n-workflows/workflows-v2/whatsapp-holy-grail.json
{
  "name": "WhatsApp SPA AI Agent - Holy Grail",
  "versionId": "holy-grail-v1",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp", "responseMode": "responseNode", "options": {} },
      "id": "webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [200, 400], "webhookId": "whatsapp-holy-grail"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Handle webhook verification\nif (input.query && input.query['hub.mode'] === 'subscribe') {\n  return [{ json: { route: 'verify', challenge: input.query['hub.challenge'] } }];\n}\n\nconst body = input.body || input;\n\n// Validate WhatsApp payload\nif (body.object !== 'whatsapp_business_account') {\n  return [{ json: { route: 'ignore', reason: 'not_whatsapp' } }];\n}\n\nconst value = body.entry?.[0]?.changes?.[0]?.value;\n\n// Ignore status updates (delivery receipts)\nif (!value || (value.statuses && !value.messages)) {\n  return [{ json: { route: 'ignore', reason: 'status_update' } }];\n}\n\nconst messages = value.messages;\nif (!messages?.[0]?.text?.body) {\n  return [{ json: { route: 'ignore', reason: 'no_text' } }];\n}\n\nconst msg = messages[0];\nconst phone = msg.from;\nconst text = msg.text.body.trim();\nconst messageId = msg.id;\n\n// Extract coupon code if present\nlet couponCode = null;\nconst couponMatch = text.match(/kupon\\s+([a-zA-Z0-9]{8,})/i) || text.match(/^([a-zA-Z0-9]{8,})$/i);\nif (couponMatch) couponCode = couponMatch[1].toUpperCase();\n\nreturn [{ json: { route: 'process', phone, text, messageId, couponCode } }];"
      },
      "id": "parse", "name": "Parse Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 400]
    },
    {
      "parameters": {
        "rules": { "values": [
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "v", "leftValue": "={{ $json.route }}", "rightValue": "verify", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Verify" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "p", "leftValue": "={{ $json.route }}", "rightValue": "process", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Process" },
          { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "i", "leftValue": "={{ $json.route }}", "rightValue": "ignore", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "Ignore" }
        ] },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "router", "name": "Router", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [600, 400]
    },
    { "parameters": { "respondWith": "text", "responseBody": "={{ $json.challenge }}" }, "id": "resp-verify", "name": "Verify Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 200] },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ignore", "name": "Ignore Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 600] },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Musteri telefon numarasi: {{ $json.phone }}\nMusteri mesaji: {{ $json.text }}\n{{ $json.couponCode ? 'Kupon kodu: ' + $json.couponCode : '' }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Sen Eform SPA'nin WhatsApp asistanisin. Turkce konusuyorsun.\n\nONEMLI: Asagidaki kelimeler gectiginde MUTLAKA ilgili araci cagir:\n- durum, bakiye, kac kupon -> check_balance aracini KULLAN\n- kupon + 8 haneli kod -> add_coupon aracini KULLAN  \n- kupon kullan, kullanmak, hediye -> claim_reward aracini KULLAN\n\nSPA HIZMETLERI:\n- Bali Masaji: 30-90 dk, 750-1800 TL\n- Kese + Kopuk: 30 dk, 500 TL\n- Mix Masaj: 70 dk\n- Medikal Lokal: 30 dk, bel/boyun/sirt\n- Tai Masaji: 60 dk, Tayland\n- Tas Masaji: 60 dk\n- Manuel Fizyoterapi: 60 dk\n\nKUPON SISTEMI: 4 kupon = 1 ucretsiz masaj\n\nKURALLAR:\n1. Turkce cevap ver\n2. Emoji kullan\n3. Kisa ol\n4. Kupon islemleri icin ARAC KULLAN, tahmin etme"
        }
      },
      "id": "ai-agent", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [850, 400]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "models/gemini-2.0-flash", "mode": "list" },
        "options": { "temperature": 0.7 }
      },
      "id": "gemini", "name": "Gemini", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [650, 550],
      "credentials": { "googlePalmApi": { "id": "8vCTje6QjWsq6I98", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse Message').item.json.phone }}"
      },
      "id": "memory", "name": "Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [750, 550]
    },
    {
      "parameters": {
        "name": "check_balance",
        "description": "Musterinin kupon bakiyesini sorgular. Telefon numarasi otomatik alinir.",
        "jsCode": "const phone = $('Parse Message').item.json.phone;\nconst apiKey = 'Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=';\n\ntry {\n  const response = await fetch(`http://localhost:3001/api/integrations/coupons/wallet/${phone}`, {\n    headers: { 'Authorization': apiKey }\n  });\n  const data = await response.json();\n  \n  if (data.error) {\n    if (data.error.code === 'WALLET_NOT_FOUND') {\n      return 'Musteri henuz kupon hesabi yok. Ilk kuponunu ekleyince hesap olusacak.';\n    }\n    return 'Hata: ' + data.error.message;\n  }\n  \n  const balance = data.couponCount || 0;\n  const needed = 4 - balance;\n  return `Kupon bakiyesi: ${balance}/4. ${needed > 0 ? needed + ' kupon daha lazim.' : 'Ucretsiz masaj hakki var!'}`;\n} catch (e) {\n  return 'Baglanti hatasi: ' + e.message;\n}"
      },
      "id": "tool-balance", "name": "Check Balance Tool", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.1, "position": [950, 550]
    },
    {
      "parameters": {
        "name": "add_coupon",
        "description": "Kupon kodu ekler. Kupon kodu mesajdan otomatik alinir.",
        "jsCode": "const phone = $('Parse Message').item.json.phone;\nconst couponCode = $('Parse Message').item.json.couponCode;\nconst apiKey = 'Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=';\n\nif (!couponCode) {\n  return 'Kupon kodu bulunamadi. Lutfen KUPON XXXXXXXX formatinda girin.';\n}\n\ntry {\n  const response = await fetch('http://localhost:3001/api/integrations/coupons/consume', {\n    method: 'POST',\n    headers: { 'Authorization': apiKey, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ phone, token: couponCode })\n  });\n  const data = await response.json();\n  \n  if (data.error) {\n    const code = data.error.code;\n    if (code === 'INVALID_TOKEN') return 'Gecersiz kupon kodu. Lutfen kontrol edin.';\n    if (code === 'TOKEN_ALREADY_USED') return 'Bu kupon zaten kullanilmis.';\n    if (code === 'TOKEN_EXPIRED') return 'Kupon suresi dolmus.';\n    return 'Hata: ' + data.error.message;\n  }\n  \n  const balance = data.balance || 0;\n  const needed = 4 - balance;\n  return `Kupon eklendi! Yeni bakiye: ${balance}/4. ${needed > 0 ? needed + ' kupon daha lazim.' : 'Ucretsiz masaj hakkiniz var! KUPON KULLAN yazin.'}`;\n} catch (e) {\n  return 'Baglanti hatasi: ' + e.message;\n}"
      },
      "id": "tool-coupon", "name": "Add Coupon Tool", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.1, "position": [1050, 550]
    },
    {
      "parameters": {
        "name": "claim_reward",
        "description": "4 kupon ile ucretsiz masaj hakki kullanir.",
        "jsCode": "const phone = $('Parse Message').item.json.phone;\nconst apiKey = 'Bearer dwsQf8q0BpFWXPqMhwy2SGLG/wHIw1hKyjW8eI4Cgd8=';\n\ntry {\n  const response = await fetch('http://localhost:3001/api/integrations/coupons/claim', {\n    method: 'POST',\n    headers: { 'Authorization': apiKey, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ phone })\n  });\n  const data = await response.json();\n  \n  if (data.error) {\n    const code = data.error.code;\n    if (code === 'INSUFFICIENT_COUPONS') return `Yeterli kupon yok. Mevcut: ${data.error.balance || 0}/4`;\n    if (code === 'WALLET_NOT_FOUND') return 'Kupon hesabi bulunamadi.';\n    return 'Hata: ' + data.error.message;\n  }\n  \n  return `Tebrikler! Ucretsiz masaj hakkiniz kullanildi. Kod: ${data.redemptionId}. Resepsiyona bu kodu gosterin.`;\n} catch (e) {\n  return 'Baglanti hatasi: ' + e.message;\n}"
      },
      "id": "tool-claim", "name": "Claim Reward Tool", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.1, "position": [1150, 550]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst phone = $('Parse Message').item.json.phone;\n\n// Get AI response\nlet message = input.output || input.text || 'Bir hata olustu. Lutfen tekrar deneyin.';\n\n// Clean up any JSON artifacts\nif (message.startsWith('{') || message.startsWith('[')) {\n  try {\n    const parsed = JSON.parse(message);\n    if (parsed.output) message = parsed.output;\n    else if (parsed.text) message = parsed.text;\n    else if (parsed.message) message = parsed.message;\n  } catch(e) {}\n}\n\nreturn [{ json: { phone, message } }];"
      },
      "id": "format-response", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/471153662739049/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.message } }) }}",
        "options": {}
      },
      "id": "send-whatsapp", "name": "Send WhatsApp", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [1300, 400],
      "credentials": { "httpHeaderAuth": { "id": "CigixqRw14bgeG1D", "name": "WhatsApp Business API" } }
    },
    { "parameters": { "respondWith": "text", "responseBody": "OK" }, "id": "resp-ok", "name": "OK Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1500, 400] }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]] },
    "Parse Message": { "main": [[{ "node": "Router", "type": "main", "index": 0 }]] },
    "Router": { "main": [
      [{ "node": "Verify Response", "type": "main", "index": 0 }],
      [{ "node": "AI Agent", "type": "main", "index": 0 }],
      [{ "node": "Ignore Response", "type": "main", "index": 0 }]
    ]},
    "Gemini": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "Check Balance Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Add Coupon Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Claim Reward Tool": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] },
    "Send WhatsApp": { "main": [[{ "node": "OK Response", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all" }
}
